@model MMS_P.ViewModels.PurchaseIRNew
@{
    ViewBag.Title = "Index";

    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";//
    }

    Layout = layout;

    var PurchaseInd_date = (DateTime)ViewBag.PurchaseIndentDate;
     var Purch_deldate = (DateTime)ViewBag.PurchaseIn_deliverydate;
}

@**@

<style type="text/css">
    #dvLoading {
        background: #000 url(../../Images/36.gif) no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
    td {padding:inherit 2px;
    }
    td input {width:80px;font-size:11px!important}
</style>
<script>

    $(window).load(function () {
        $('#dvLoading').fadeOut(2000);
    });
</script>
<script type="text/javascript">
    var UpdateList2 = '@Url.Action("UpdateList2", "PurchaseRequisition")';
    var GetForwardTo = '@Url.Action("GetForwardType", "PurchaseRequisition")';
    var GetPurchasRequestionType = '@Url.Action("GetPurchaseType", "PurchaseRequisition")';
    var Redurl = '@Url.Action("IndexNew", "PurchaseRequisition")';
    var GetPurchasdecesionType = '@Url.Action("GetPurchaseDecesionType", "PurchaseRequisition")';
    var GetPiType = '@Url.Action("GetSelectedPurchaseType", "PurchaseRequisition")';
    var ID='@ViewBag.ID';
</script>
@*<script src="~/Script/PurchaseIRDetailsA.min.js"></script>*@
@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="~/Script/PurchaseIRDetailsA.js?v=1.2"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $("td[class^='DemandQty_'").each(function () {
            var c = $(this).attr('class').split('_')[1];
            var control = $("td[class='Current_" + c + "']").find('input');
            if (control.val() == 0) {
                control.val($(this).find('input').val());
            }
            control.trigger('keyup');
        });


        $(".DetailapiremarkDialog").on("click", function (e) {
            debugger;
            var url = $(this).attr('href');
            $("#dialog-edit-abc").dialog({
                title: 'Remarks Details',
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 550,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $("#dialog-edit-abc").dialog('close');
                    //window.location.href = url;
                }
            });

            $("#dialog-edit-abc").dialog('open');
           // $("#dialog-edit").dialog('close');
            return false;
        });

        $("#btncancel").on("click", function (e) {
            $("#dialog-edit-abc").dialog('close');

        });

        $('#btnPIPrint').click(function () {
            var url = '/PurchaseRequisition/PIPrint/' + ID;
            $("#dialog-edit-abc").dialog({
                title: 'Purchase Indent Details',
                autoOpen: false,
                resizable: false,
                height: 650,
                width: 1100,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $("#dialog-edit-abc").dialog('close');
                    //window.location.href = url;
                }
            });

            $("#dialog-edit-abc").dialog('open');
            // $("#dialog-edit").dialog('close');
            return false;
        });
    });
</script>


<script>
    function GetData() {
        debugger;
        //var url = "/FloorMasters/Grid/";
        var url = '@Url.Action("GetRemarks", "PurchaseRequisition")';

        $.ajax({
            url: url,
            type: 'GET',
            data: { Status: $('#text1').val() },
            complete: function () {
                $('#progress').hide();
            },
            success: function (result) {

                $('#formbody').html(result);
            }
        });
        return false;
    }




</script>




<section id="content_wrapper">
    <section id="content" class="table-layout animated fadeIn">
        <div class="tray tray-center">
            <div class="mw1000 center-block">
                <div class="admin-form">
                    <div class="panel heading-border">
                        <div class="panel-body bg-light">
                            <div class="section-divider mb40" id="spy1">
                                <span>
                                    Purchase Indent  @*Created By @Model.Master.CreatedByName  </span>*@
                                    @*for @Model.MasterNew.SendToName  and Date is @Html.DisplayFor(model => model.MasterNew.Date2)*@
                                </span>
                            </div>

                            <p>
                                <a class="btn btn-primary" data-modal="" href="@Url.Action("IndexNew", "PurchaseRequisition")" id="btnCreate">
                                    Purchase Indent List

                                    <input type="hidden" id="hdnTypeSelect" value=@ViewBag.TypeSelect />
                                    <input type="hidden" value="@ViewBag.PurchaseTypeId" id="purchadeid" />
                                    <input type="hidden" value="@ViewBag.PurchaseDescisionType" id="purchaseDeceion-id" />

                                    <input type="hidden" id="hdn_sitepurchasevalue" value="@ViewBag.SiteId" />
                                    <input type="hidden" id="hdn_sitepurchaseLimitValue" value="@ViewBag.SiteLimitVal" />
                                    <input type="hidden" id="hdn_hopurchasevalue" value="@ViewBag.HOId" />
                                    <input type="hidden" id="hdn_HOepurchaseLimitValue" value="@ViewBag.HoLimitVal" />
                                </a>
                            </p>


                            <div class="table-responsive">
                                <table class="table">
                                    <tr><td class="MasterId" colspan="10" muid=@Model.MasterNew.UId> </td>   </tr>
                                    <tr>
                                        <th>@Html.DisplayName("Project Name:")</th>
                                        <th>@Html.DisplayName("Purchase Indent No:")</th>
                                        <th>@Html.DisplayName("PIC Purchase Limit Value :")</th>
                                        <th>@Html.DisplayName("Purchase Ind ent Remarks :")</th>
                                    </tr>
                                    
                                    <tr>
                                        <td>@Html.DisplayFor(model => model.MasterNew.ProjectName)</td>
                                        <td>@Html.DisplayFor(model => model.MasterNew.PurRequisitionNo)</td>
                                        <td><label id="lblprojectValue">@ViewBag.LastLimitVal</label></td>
                                        <td>@Html.ActionLink("Click here to see detail", "GetRemarks", new { PI = ((string)Model.MasterNew.PurRequisitionNo).Replace("/", "#") }, new { @class = "DetailapiremarkDialog", @id = "text1", @onchange = "javascript:GetData(this.value);", @style = "color:#497bf9" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                        </tr>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="section">
                                        @Html.DisplayName("Purchase Indent Date")
                                    </div>
                                   
                                </div>

                                <div class="col-md-2">
                                    <div class="section">
                                        <label class="field prepend-icon">
                                            @Html.TextBox("PurchaseIRDate", string.Format("{0:dd MMM yyy}", PurchaseInd_date), new { @class = "form-control", @id = "PurchaseIRDate", @placeholder = " Date", @readonly="readonly" })
                                            <label for="RefNo" class="field-icon">
                                                <i class="fa fa-calendar"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="section">
                                        @Html.DisplayName("Delivery Date")
                                    </div>
                                 
                                </div>

                                <div class="col-md-2">
                                    <div class="section">
                                        <label class="field prepend-icon">
                                            @Html.TextBox("PurchaseIRDeliveryDate", string.Format("{0:dd MMM yyy}", Purch_deldate), new { @class = "Date_Picker set_delvry form-control", @id = "PurchaseIRDeliveryDate", @placeholder = " Delivery Date" })
                                            <label for="RefNo" class="field-icon">
                                                <i class="fa fa-calendar"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="section">
                                        @Html.DisplayName("Type")
                                    </div>

                                </div>

                                <div class="col-md-2">
                                    <div class="section">
                                        <label class="field select">
                                            @Html.DropDownList("PurchasedesisionType", new SelectList(string.Empty, "Value", "Text"), "Select Type", htmlAttributes: new { @id = "ddlPurchasedecisionType", @class = "form-control" })
                                            <i class="arrow"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div>

                                <br /><br />

                                @if (ViewBag.Attach != null)
                                {
                                    <table class="table table-responsive table-bordered">
                                        <thead>
                                            <tr>
                                                <th><b>Attachment</b></th>
                                                <th><b>Attachment Name</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var attach in (List<MMS.DAL.tbl_PurchaseRequistionAttachFiles>)ViewBag.Attach)
                                            {
                                                <tr>
                                                    <td><a target="_blank" href="/PurchaseIndentAttachment/@attach.AttachFile">Download</a></td>
                                                    <td>@attach.AttachFile_Name</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }

                                <br /><br />


                                @if (Model.ChildNew.Count != 0)
                                {
                                    <table class="table table-hover" id="gridD">
                                        <tr class="primary">
                                            <th>
                                                @Html.DisplayName("SrNo.")
                                            </th>
                                            <th style="white-space:nowrap">
                                                @Html.DisplayName("Group Name")
                                            </th>
                                            <th style="white-space:nowrap">
                                                @Html.DisplayName("Item Name")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Description")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Unit")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Demand Qty")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Approve Qty")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Current Approve")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Rate")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Current Value")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Received Upto")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Balanced")
                                            </th>
                                            <th style="display:none">
                                                @Html.DisplayName("Remarks")
                                            </th>
                                        </tr>

                                        @foreach (var item in Model.ChildNew)
                                        {
                                            var a = @item.UId;
                                            var It = @item.ItemNo;
                                            <tr id=@a style="font-size:11px;">
                                                <td class=SrNo_@a uid=@a it=@It>
                                                    @Html.DisplayFor(modelItem => item.SNo)
                                                </td>
                                                <td class=Group_@a>
                                                    @Html.DisplayFor(modelItem => item.ItemGroupName)
                                                    @Html.HiddenFor(modelItem => item.ItemGroupNo)
                                                </td>
                                                <td class=Item_@a>
                                                    @Html.DisplayFor(modelItem => item.ItemName)
                                                    @Html.HiddenFor(modelItem => item.ItemNo)
                                                </td>
                                                <td>
                                                    @Html.TextAreaFor(modelitem => item.Remarks,new {@disabled="disabled" })
                                                </td>
                                                <td class=Unit_@a>
                                                    @Html.DisplayFor(modelItem => item.Unit)
                                                    @Html.HiddenFor(modelItem => item.UnitNo)
                                                </td>
                                                
                                                <td class="DemandQty_@a">
                                                    <span class="checkVal" id=DemandQty_@a>
                                                        @Html.TextBoxFor(modelItem => item.DemandQty, new { disabled = "disabled", @readonly = "readonly" })
                                                    </span>
                                                </td>
                                                <td>

                                                    <span class="checkVal" id=ApprovedQty_@a>
                                                        @Html.TextBoxFor(modelItem => item.ApprovedQty, new { disabled = "disabled", @readonly = "readonly", @placeholder = "0" })
                                                    </span>
                                                </td>
                                                <td class="Current_@a">
                                                    @if(@ViewBag.CheckMangExist == 0)
                                                    {
                                                    @Html.TextBox("Current",null, new { disabled = "disabled", @readonly = "readonly" })
                                                    }
                                                    else
                                                    {
                                                    @Html.Editor("Current")
                                                    }

                                                   
                                                </td>
                                                <td class="Rate_@a">
                                                    @Html.TextBoxFor(modelItem => item.CurrentRate, new { disabled = "disabled", @readonly = "readonly" })
                                                </td>
                                                <td class="Amount_@a">

                                                  @if(@ViewBag.CheckMangExist != 0)
                                                    {
                                                    @Html.TextBox("Amount", null, new { disabled = "disabled", @readonly = "readonly" })
                                                    }
                                                    else
                                                    {
                                                    if (item.ApprovedQty == Convert.ToDecimal(0.00))
                                                    {
                                                        decimal ss = Convert.ToDecimal(0.00);
                                                        @Html.TextBox("Amount", ss, new { disabled = "disabled", @readonly = "readonly" })

                                                    }
                                                    else {
                                                        decimal ss = (item.ApprovedQty * item.CurrentRate) ?? 0;
                                                        @Html.TextBox("Amount", string.Format("{0:0.00}", ss), new { disabled = "disabled", @readonly = "readonly" })

                                                    }
                                                    }

                                                   
                                                  
                                                   

                                                               
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ReceiveUpto)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelitem=>item.Balanced)
                                                </td>
            
            
                                                        </tr>
                                        }

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><b>Total*  </b></td>
                                            <td><label id="lblTotalValue"></label></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                }
                            </div>

                            <br />
                            
                                <div class="row" >
                                  @if (ViewBag.CheckMangExist != 0)
                                    {
                                    <div class="col-md-3" id="kkPurchagetypehide">
                                        <div class="section">
                                            <label class="field select">
                                                @Html.DropDownList("PICPurchaseType", new SelectList(string.Empty, "Value", "Text"), "Select Purchase Type",htmlAttributes: new { @id = "ddlPurchaseType", @class = "form-control" })
                                                <i class="arrow"></i>
                                            </label>
                                        </div>

                                    </div>
                                    


                                    <div class="col-md-3" id="kkhide">
                                        <div class="section">
                                            <label class="field select">

                                                @Html.DropDownList("Forward To", new SelectList(string.Empty, "Value", "Text"), "Select Forward To", htmlAttributes: new { @id = "ddlForwardTo", @class = "form-control" })

                                                <i class="arrow"></i>
                                            </label>
                                        </div>
                                    </div>
                                    }
                                    else { }

                                    <div class="col-md-6" id="Rmrks">
                                        <div class="section">
                                            <label class="field prepend-icon">
                                                @Html.TextArea("PICRemarks", null, new { id = "txtPICRemarks", @class = "form-control", @placeholder = "Remarks" })
                                                <label for="firstname" class="field-icon">
                                                    <i class="fa fa-building"></i>
                                                </label>
                                            </label>
                                        </div>
                                    </div>
                                    
                                </div>
                           

                            
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <span id="kknote"><em style="color:red">Note* :Total current value greater than purchase limit value is subjected to forward to the management.</em></span>
                                    @if (Session["Dept"].ToString() != "PURCHASE")
                                    {
                                        <input type="submit" value="Approve" id="SubmitA" class="btn btn-success pull-right" />
                                    }
                                </div>
                        </div>
                            <div>
                                <input type="button" name="btnPrint" value="Print"  class="btn btn-primary btn-sm" id="btnPIPrint"/>
                            </div>
                        <div class="section-divider mt40 mb25" id="spy5">
                            <span></span>
                        </div>
                            
                           
                        
                        </div>
                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                        <h4 class="modal-title">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        @*<p>Do you want to save changes you made to document before closing?</p>*@<p></p><p></p><p></p><p></p>
                                        <p class="text-danger">Data Save Successfully</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@<button type="button" class="btn btn-primary"></button><button type="button" class="btn btn-primary"></button><button type="button" class="btn btn-primary"></button><button type="button" class="btn btn-primary"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="dialog-edit-abc" style="display: none">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
