
@model List<MMS.ViewModels.PendingInterSiteTransfer>
@{
    ViewBag.Title = "_PartialTransferForReject";
    int row = 1;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Transfer Number</th>
            <th>Project Name</th>
            <th>Transfer Date</th>
            <th>Date Of Creation</th>
            <th>Status</th>
            <th>Reject Remark</th>
            <th>Reject Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="7">No Record Found</td>
            </tr>
        }
        @foreach (var data in Model)
        {
            <tr>
                <td>@row</td>
                <td>
                    @data.InterTransferNumber
                </td>
                <td>@data.TransferProjectname</td>
                <td>@data.TransferDate</td>

                <td>@data.CreatedDate</td>

                <td>@data.Status</td>
                <td>
                    @data.Reject_Remark
                </td>
                <td>@data.Reject_Date.Value.ToString("dd/MM/yyyy")</td>
                <td><a target="_blank" href="/IntraTransfer/RejectdInterTransfer_Print?TransferNo=@data.InterTransferNumber">View</a></td>
               
            </tr>
            row++;
        }
    </tbody>
</table>


