
@{

    ViewBag.Title = "MovableReport";
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";//
    }

    Layout = layout;
}

<style type="text/css">
    #dvLoading {
        background: #000 url(../../Images/36.gif) no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var ss = @Html.Raw(Json.Encode(ViewBag.EmpId));
    var GetProjectByEmpId = '@Url.Action("GetProjectByEmpId", "MovableStatus")';

   // var GetItemByGroup='@Url.Action("GetItemByGroupStock", "tblItemMasters")';
    var GetItemGroup='@Url.Action("GetItemGroupStock", "MovableStatus")';

   // var StockGrid = '@Url.Action("StockGrid", "tblItemMasters")';

</script>  



<script src="~/Script/MovableStatus.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#formbody').hide();

        $('#Projects').select2();
        $('#ItemGroups').select2();
        $('#Status').select2();


        $('#btn_MSP_Search').click(function (e) {


            var prjt = $("#Projects option:selected").val();
            var itgp = $("#ItemGroups option:selected").val();


            if (prjt == "") {
                alert('Kindly Select Project');
                return false;
            }

            if (itgp == "") {
                alert('Kindly Select Item Group');
                return false;
            }

            $("#loading").show();
            e.preventDefault();
            var url = '@Url.Action("GetAllMovingStatus", "MovableStatus")';
            $.get(url,
                { PID: $('#Projects option:selected').val(), GID: $('#ItemGroups option:selected').val() , STA: $('#Status option:selected').text()},
                function (result) {
                    $('#formbody').show();
                    $('#formbody').html(result);
                    $("#loading").hide();
                });

        });


        $('#btnExport').click(function() {
            debugger;
            var pid = $("#Projects option:selected").val();
            var status=$('#Status option:selected').text();

            if(pid=='0'){
                alert('Please select project.');
                return false;
            }
            if($('#Status').prop('selectedIndex')==0){
                status='';
            }

            $(this).attr('href','#');

            $(this).attr('href','@Url.Action("ExportMovingReport", "MovableStatus")?PID='+pid+'&Status='+status);

        });

        $('#btnExport1').click(function() {
            
            var pid = $("#Projects option:selected").val();
            var status=$('#Status option:selected').text();
            var GId=$('#ItemGroups').val();
            if(pid=='0'){
                alert('Please select project.');
                return false;
            }
            if($('#Status').prop('selectedIndex')==0){
                status='';
            }

            $(this).attr('href','#');

            $(this).attr('href','@Url.Action("ExportAgingReport", "MovableStatus")?ProjectId='+pid+'&GroupId='+GId+'&Status='+status);

        });

    });
</script>

<section id="content_wrapper">

    <section id="content" class="table-layout animated fadeIn">


        <div class="tray tray-center">

            <div class="mw1000 center-block">

                <div class="admin-form">

                    <div class="panel heading-border">
                        <div class="panel-body bg-light">
                            @*<form method="post" action="#" id="form-ui">*@
                            <div class="section-divider mb40" id="spy1">
                                <span>@Html.Label(" Ageing Report ", new { id = "L1" })</span>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="section">
                                        <label class="field select">

                                            @Html.DropDownList("Projects", new SelectList(string.Empty, "Value", "Text"), "Select Project ", htmlAttributes: new { @id = "Projects", @class = "form-control" })
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="section">
                                        <label class="field select">
                                            @Html.DropDownList("ItemGroups", new SelectList(string.Empty, "Value", "Text"), "Select Item Group", htmlAttributes: new { @id = "ItemGroups", @class = "form-control" })
                                            
                                        </label>
                                    </div>
                                </div>
                               

                                <div class="col-md-2">
                                    @Html.DropDownList("Status", null, "Select Ageing Status", htmlAttributes: new
                               {
                                   @id = "Status",
                                   @class = "form-control"

                               })
                                </div>

                                <div class="col-md-4">
                                    <div class="section">
                                        @*<input type="submit" value="Search" id="btnDateLast"  class="btn btn-success" />*@
                                        <input type="button" id="btn_MSP_Search" class="btn btn-primary" value="Search" /> &nbsp;&nbsp;

                                        <a href="#" id="btnExport" class="btn btn-primary">Export Report</a>

                                        &nbsp;&nbsp;
                                        <a href="#" id="btnExport1" class="btn btn-primary">Export Report(Trial)</a>
                                    </div>
                                </div>



                            </div>


                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"><div style="display:none;" id="loading" class="loading">Loading. Please wait.<br /><img src="~/Images/loader.gif" style="width:50px;height:50px" /></div></div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="pager glyphicon-align-center" id="formbody">

                            </div>

                            <br />
                            <div>
                                @Html.ActionLink("Export to Excel", "GetExcel", "MovableStatus", new { @class = "btn btn-primary" })
                                @Html.ActionLink("Print", "AgeingReportPdf", "MovableStatus", new { @class = "btn btn-primary", @target = "_blank" })
                            </div>

                        </div>
                     



                    </div>
                </div>

            </div>

        </div>


    </section>

</section>


