@model MMS_P.ViewModels.PagedOSTMasterModel
@{
    ViewBag.Title = "_GridView";
    Layout = null;
}
<style type="text/css">
    .user {
        font-size: 10px;
    }

    .user1 {
        font-size: 10px;
    }
</style>
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //alert("A");

        $(".viewDialog").live("click", function (e) {
            var url = $(this).attr('href');
           // alert(url);
            $("#dialog-view").dialog({
                title: 'Transfer Details',
                autoOpen: false,
                resizable: false,
                height: 750,
                width: 1200,
                show: { effect: 'explode', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog('close');

        });
    });
</script>
    <div id="myPager" style="margin-top:17px;">
        @{
            var grid = new WebGrid(
                            canPage: true,
                            rowsPerPage: Model.PageSize,
                            canSort: true,
                            ajaxUpdateContainerId: "grid");

            grid.Bind(Model.Master, rowCount: Model.TotalRows, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);

            @grid.GetHtml(htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            mode: WebGridPagerModes.All,
                     columns: grid.Columns(
                                                               grid.Column("Date", format: (item) => item.TransferDocumentDate != null ? item.TransferDocumentDate.ToString("dd/MM/yyyy") : null),
                                             @*grid.Column("Date", format: @<text> @item.TransferDocumentDate.ToString("dd/MM/yyyy")</text>),*@
                                             //grid.Column(String.Format("{0:MM/dd/yyyy}", "TransferDocumentDate"), header: "Date"),
                                             //grid.Column("TransferDocumentNo", header: "TransferDocument No."),
                                             @*grid.Column("TransferDocumentNo", header: "TransferDocument No.", format: @<text>@Html.ActionLink((string)item.TransferDocumentNo, "Details", new { id = ((string)item.TransferDocumentNo).Replace("/", "#") }, new { @class = "viewDialog", @id = "text1", @onchange = "javascript:GetFloors(this.value);", @style = "color:#497bf9" })</text>),*@
                                              grid.Column("TransferDocumentNo", header: "TransferDocument No.", format: @<text>@Html.ActionLink(item.TransferDocumentNo != null ? (string)item.TransferDocumentNo : "A", "Details", new { id = item.UId }, new { @class = "viewDialog", @id = "text1", @onchange = "javascript:GetFloors(this.value);", @style = "color:#497bf9" })</text>, style: "user"),
                                                                                        grid.Column("DispatchSiteName", header: "Dispatch Site", style: "user"),
                                                                                        grid.Column("ReceiveSiteName", header: "Receive Site", style: "user"),
                                            
                                             grid.Column("GrandTotal", header: "Amount")

                                              

                                                                                                                                            ));
        }


    </div>

<div id="dialog-view" style="display: none">
</div>
