@model IEnumerable<MMS.ViewModels.PI_Master_Reamrks>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)

                </td>
                <td>
                    @Html.Label("---------->")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>


            </tr>
        }

    </table>
</body>
</html>

