
@{
    ViewBag.Title = "ViewApprovedStock_Indent";
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";//
    }

    Layout = layout;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<link type="text/css" href="~/Content/toastr.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>



<script>
function GetFloor()

{
        //var url = "/FloorMasters/Grid/";
        var url = '@Url.Action("_PartialGridApprovedStocks_View", "ApprovedIssueQuantity")';
    $('#progress').show();
        $.ajax({
        url: url,
        type: 'GET',
        data: { Status: $('#Stats').val(), PId: $('#prjtid').val() },
        complete: function () {
          $('#progress').hide();
        },
        success: function (result) {

        $('#formbody').html(result);
        }
        });
        return false;
 }

</script>

@*<script>
    function GetUnapproveditesdetails() {
        //var url = "/FloorMasters/Grid/";
        var url = '@Url.Action("_PartialGridUn_ApprovedStocks_View", "ApprovedIssueQuantity")';
        $('#progress').show();
        $.ajax({
            url: url,
            type: 'GET',
            data: { Status: $('#Stats').val(), PId: $('#prjtid2').val() },
            complete: function () {
                $('#progress').hide();
            },
            success: function (result) {

                $('#formbody').html(result);
            }
        });
        return false;
    }

</script>*@

@*<script type="text/javascript">
    $(window).load(function () {
        $("#div1").show();
        $("#div2").hide();
    });
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#Stats").change(function () {
            
            $("#prjtid").val('');
        })
    });
</script>

@*<script>
    $(document).ready(function () {

        if ('@TempData["msg"]' != "") {
            $("#div2").show();
            $("#div1").hide();
        }
        else {
            $("#div1").show();
        }
    })
</script>*@


<section id="content_wrapper">
    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">
                    <!-- Begin: Content Header -->
                    <!-- Begin: Admin Form -->
                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">VIEW APPROVED STOCK INDENT REQUISTION</span>
                                </div>
                                <!-- .section-divider -->
                                <!-- Basic Inputs -->
                                <!-- Input Icons -->
                                <div>
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
                                </div>
                                <br />

                                <form class="row" id="loginForm">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="section">
                                                        <label class="field select">
                                                            @Html.DropDownList("Stats", new[] { new SelectListItem() { Text = "Yes", Value = "Yes" }, new SelectListItem() { Text = "No", Value = "No" } }, "Select Status", new { htmlAttributes = new { @class = "form-control gui-input" } })
                                                            <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                </div>



                                                <div class="col-md-6" id="div1">
                                                    <div class="section">
                                                        <label class="field select">
                                                            @Html.DropDownList("prjtid", (IEnumerable<SelectListItem>)ViewBag.prjtid, "Select Project", htmlAttributes: new { @class = "form-control", @onchange = "javascript:GetFloor(this.value);", })
                                                            <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                </div>

                                                @*<div class="col-md-6" id="div2">
                                                    <div class="section">
                                                        <label class="field select">
                                                           @Html.DropDownList("prjtid2", null, "Select Project", htmlAttributes: new { @id = "prjtid2", @class = "form-control", @onchange = "javascript:GetUnapproveditesdetails(this.value);", })
                                                            <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                </div>*@


                                                <div class="col-md-2">
                                                    @*<input type="button" id="Search" class="btn btn-primary" value="Search" />*@
                                                </div>
                                            </div>

                                            <div class="row">


                                            </div>

                                        </div>
                                    }



                                </form>
                                <div class="pager glyphicon-align-center" id="formbody">
                                    @*@{Html.RenderAction("Grid", "ViewSendingIndentRequisition");}*@

                                </div>

                                <div class="section-divider mt40 mb25" id="spy5">
                                    <span></span>
                                </div>

                                <!-- end .section row section -->
                                <!-- end .form-footer section -->
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
        <!-- end: .tray-center -->
        <!-- begin: .tray-right -->
        <!-- end: .tray-right -->

    </section>
    <!-- End: Content -->
</section>

