@{
    ViewBag.Title = "Remove Item Opening";
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();

    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";//
    }

    Layout = layout;
}


<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    #dvLoading {
        background: #000 url(../../Images/Loading.gif) no-repeat center center;
        height: 64px;
        width: 64px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -16px 0 0 -16px;
    }
</style>

<script type="text/javascript">
    var ss = @Html.Raw(Json.Encode(ViewBag.EmpId));
    var GetProjectByEmpId = '@Url.Action("GetProjectByEmpId", "VendorWiseReport")';
    var GetItemByGroup='@Url.Action("GetItemByGroupWise", "RemoveOpening")';
    var Delopening='@Url.Action("DeleteOpening", "RemoveOpening")';
    var RedUrl =  '@Url.Action("Index", "RemoveOpening")';
</script>

<script type="text/javascript">
    $(document).ready(function () {
        window['GetPrj'] = function (dateString) {
            $('#dvLoading').show();
            $.ajax({
                type: 'POST',
                url: GetProjectByEmpId, // Calling json method

                dataType: 'json',
                data: { E: ss },
                complete: function () {
                    $('#dvLoading').hide();
                },
                success: function (result) {
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("#Projects").html(procemessage).show();
                    var markup = "<option value='0'>Select Project</option>";
                    $("#Projects").html(markup).show();
                    result = $.parseJSON(result)

                    var selectedDeviceModel = $('#Projects');
                    $.each(result, function (index, item) {
                        selectedDeviceModel.append(
                            $('<option/>', {
                                value: item.Value,
                                text: item.Text
                            })
                        );
                    });

                    $("#Projects").prop('selectedIndex', 1).trigger('change');
                },
                error: function (ex) {
                    alert('Failed to retrieve Project.' + ex);
                }
            });
            return false;
        };
        GetPrj();

        //Country Dropdown Selectedchange event
        $("#ItemGroups").change(function () {
            $("#Items").empty();

            //$("#grid").empty();
            $("#Items").append($("<option></option").val("").html("Select Item "));
            if ($('#ItemGroups option:selected').val() != 0) {

                $('#dvLoading').show();
                $.ajax({
                    type: 'POST',
                    url: GetItemByGroup, // Calling json method

                    dataType: 'json',

                    data: { ItemGroupId: $("#ItemGroups").val() },
                    // Get Selected Country ID.
                    complete: function () {
                        $('#dvLoading').hide();
                    },
                    success: function (names) {
                        names = $.parseJSON(names)


                        $.each(names, function (i, itname) {
                            $("#Items").append('<option value="' + itname.Value + '">' +
                                 itname.Text + '</option>');

                        });


                    },
                    error: function (ex) {
                        alert('Failed to retrieve Item Name.' + ex);
                    }
                });
                return false;
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
       
        $('#formbody').hide();

        $('#btn_Search').click(function (e) {
            $("#dvLoading").show();

           

               e.preventDefault();
                var url = '@Url.Action("GetGrid", "RemoveOpening")';
                $.get(url,
                    { ProjectId: $("#Projects option:selected").val(), ItemGroupId: $('#ItemGroups option:selected').val(), ItemId: $('#Items option:selected').val() },
                    function (result) {
                        $('#formbody').show();
                        $('#formbody').html(result);
                        
                        $("#dvLoading").hide();
                    });

        })
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

      

        $("#btn_Delete").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = Delopening;
            options.type = "POST";
            options.data = JSON.stringify({ItemIDs:selectedIDs , ProjId :$("#Projects option:selected").val() } );
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
              //  location.reload(true);
                $("#btn_Search").click();
               // window.location.href = RedUrl;
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });
    });
</script>


<section id="content_wrapper">

    <section id="content" class="table-layout animated fadeIn">


        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">

                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">Delete Item From Opening. </span>
                                </div>

                                <form class="row" id="loginForm">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()



                                        <div class="form-horizontal">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <div class="section">
                                                            <label>Project</label>
                                                            <label class="field select">
                                                                @Html.DropDownList("Projects", new SelectList(string.Empty, "Value", "Text"), "Select Project ", htmlAttributes: new { @id =                                                  "Projects", @class = "form-control" })
                                                                <i class="arrow"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="section">
                                                            <label>Item Group </label>
                                                            <label class="field select">

                                                                @Html.DropDownList("ItemGroups", null, "Select Item Group", htmlAttributes: new { @id = "ItemGroups", @class = "form-control" })
                                                                <i class="arrow"></i>
                                                            </label>
                                                        </div>
                                                    </div>


                                                    
                                                    <div class="col-md-3">
                                                        <div class="section">
                                                            <label>Item Name</label>
                                                            <label class="field select">

                                                                @Html.DropDownList("Items", new SelectList(string.Empty, "Value", "Text"), "Select Item", htmlAttributes: new { @id = "Items", @class = "form-control" })
                                                                <i class="arrow"></i>
                                                            </label>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-1">
                                                        <label>&nbsp;</label><div class="clearfix"></div>
                                                        <input type="button" id="btn_Search" class="btn btn-primary" value="Search" />
                                                    </div>
                                                </div>


                                            </div>




                                        </div>

                                    }



                                </form>





                                <div id="dvLoading"></div>
                                <div id="#progress" style="display:none"><img src="~/Images/36.gif" /></div>
                                <div class="pager glyphicon-align-center" id="formbody">


                                </div>

                                <div class="section-divider mt40 mb25" id="spy5">

                                    <span></span>
                                </div>


                                <br />
                                <div class="row">
                                   <div class="col-md-3">
                                       <input type="button" id="btn_Delete" class="btn btn-danger" value="Delete" />
                                   </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </section>

</section>

