@model IEnumerable<MMS.ViewModels.StockLedgerDetail>

<style>
    .gridTable {
        margin: 5px;
        padding: 10px;
        border: 1px #c8c8c8 solid;
        border-collapse: collapse;
        min-width: 550px;
        background-color: #fff;
        color: #fff;
        width: 100%;
    }

    .gridHead th {
        font-weight: bold;
        background-color: #5c93f0;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .gridHead a:link, .gridHead a:visited, .gridHead a:active, .gridHead a:hover {
        color: #fff;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .gridTable tr.gridAltRow {
        background-color: #efeeef;
    }

    .gridTable tr:hover {
        background-color: #7da3f2;
    }

    .gridTable tr :hover {
        color: white;
    }

    .gridAltRow td {
        padding: 10px 4px;
        margin: 5px;
        color: #333;
        font-size: 12px;
    }

    .gridRow td {
        padding: 10px 4px;
        color: #333;
        font-size: 12px;
    }

    .gridFooter td {
        padding: 10px;
        color: #ffffff;
        font-size: 12pt;
        text-align: center;
        background-color: #5c93f0;
    }

    .gridFooter a {
        text-decoration: none;
        padding: 6px 11px;
        margin-right: 6px;
        border-radius: 3px;
        color: #fff;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        border: 1px solid #43505e;
        background: #556270;
        background: -moz-linear-gradient(top, #556270 0%, #444d57 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#556270), color-stop(100%,#444d57));
        background: -webkit-linear-gradient(top, #556270 0%,#444d57 100%);
        background: -o-linear-gradient(top, #556270 0%,#444d57 100%);
        background: -ms-linear-gradient(top, #556270 0%,#444d57 100%);
        background: linear-gradient(to bottom, #556270 0%,#444d57 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556270', endColorstr='#444d57',GradientType=0 );
        -moz-box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
        -webkit-box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
        box-shadow: inset 0 3px 0px -2px rgba(255, 255, 255, .3);
    }

    .my-classR {
        text-align: right;
    }

    .my-classL {
        text-align: left;
    }

    .my-classC {
        text-align: center;
    }
</style>
<div style="text-align:right"><strong>Unit:</strong> @ViewBag.Unit</div>
<table class="gridTable" id="positionGrid" data-swhgajax="true" data-swhgcontainer="positionGrid" data-swhgcallback="">
    <thead>
        <tr class="gridHead">
            <th scope="col">
                S.No
            </th>
            <th scope="col">
                <a data-swhglnk="true" href="#">Date</a>
            </th>
            <th scope="col">
                <a data-swhglnk="true" href="#">Vendor Name</a>
            </th>
            @*<th scope="col">
                <a data-swhglnk="true" href="#">Issued To</a>
            </th>*@
            <th scope="col">
                <a data-swhglnk="true" href="#">MRN No.</a>
            </th>
            <th scope="col">
                <a data-swhglnk="true" href="#">Issue No.</a>
            </th>
            <th scope="col">
                <a data-swhglnk="true" href="#">Recd. Qty.</a>
            </th>
            <th scope="col">
                <a data-swhglnk="true" href="#">Issued Qty.</a>
            </th>
            <th scope="col">
                <a data-swhglnk="true" href="#">Balance Qty.</a>
            </th>
            <th scope="col" style="width:30px;">
                <a data-swhglnk="true" href="#">Transaction Rate</a>
            </th>
            <th scope="col" style="width:30px;">
                <a data-swhglnk="true" href="#">Transaction Amount</a>
            </th>
            <th scope="col" style="width:40px;">
                <a data-swhglnk="true" href="#">Balance Amount</a>
            </th>
          
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
         <tr class="gridRow">
            <td class="my-classC"><div style="text-align:center;"></div>@item.TransId </td>
            <td>@item.Datee</td>
            <td class="my-classL">@item.Particulars</td>
            @*<td class="my-classC">@item.IssueTo</td>*@
            <td class="my-classC">@item.MRN</td>
            <td class="my-classC">@item.IssueNo</td>
            <td class="my-classR">@item.ReceiveQty</td>
            <td class="my-classR">@item.Issue_Qty</td>
            <td class="my-classR">@item.BalanceQty</td>
            <td class="my-classR">@item.Receive_Rate</td>
            <td class="my-classR">@item.TransactionAmount</td>
            <td class="my-classR">@item.NetAMount</td>
        </tr>
        }
    </tbody>
</table>
<table width="252" align="center" style="margin-right:365px">
    <tr>
        <th style="width:70px;">Total</th>
        <th style="width:120px;">@Math.Round(ViewBag.ReceieveQtyTotal, 3)</th>
        <th style="margin-left:10px;">@Math.Round(ViewBag.IssueQtyTotal,3)</th>
    </tr>
</table>

<br />
<div class="text-left">
    @Html.ActionLink("Export to Excel", "GetExcel", "StockLedgerRecordPdf_Report", new { @class = "btn btn-primary" })
    @Html.ActionLink("Print", "StockLedgerRecordPdf", "StockLedgerRecordPdf_Report", new { @class = "btn btn-primary", @target = "_blank" })
</div>