@{
    ViewBag.Title = "PIdetail";
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";//
    }

    Layout = layout;
}

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Helpers/DropDownBinding.js"></script>
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    #dvLoading {
        background: #000 url(../../Images/Loading.gif) no-repeat center center;
        height: 64px;
        width: 64px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -16px 0 0 -16px;
    }
</style>

<script>
    $(function () {
        $("#fromdate").datepicker({ dateFormat: 'mm-dd-yy' });
        $("#todate").datepicker({ dateFormat: 'mm-dd-yy' });
    });
</script>


@*<script type="text/javascript">
        $(document).ready(function () {

            var url = '@Url.Action("GetDemoData", "DesignDemo")';

           $.get(url,
                    function (result) {
                      $('#formbody').show();
                      $('#formbody').html(result);

                      $("#loading").hide();
                  });

        });
    </script>*@

<script>
    var ss = @Html.Raw(Json.Encode(ViewBag.EmpId));
    var GetProjectByEmpId = '@Url.Action("GetProjectByEmpId", "VendorWiseReport")';
    var BindPIOnly = '@Url.Action("GetPIByProjectId", "DesignDemo")';
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Projects').select2();
        $('#ddlPurchaseReq').select2();
        $('#ddlPO').select2();
        $('#ddlVendors').select2();
        $('#ddlItemGroups').select2();
        $('#ddlItems').select2();

        window['GetPrj'] = function (dateString) {
            $('#dvLoading').show();
            $.ajax({
                type: 'POST',
                url: GetProjectByEmpId, // Calling json method

                dataType: 'json',
                data: { E: ss },
                complete: function () {
                    $('#dvLoading').hide();
                },
                success: function (result) {
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("#Projects").html(procemessage).show();
                    var markup = "<option value='0'>Select Project</option>";
                    $("#Projects").html(markup).show();
                    result = $.parseJSON(result)

                    var selectedDeviceModel = $('#Projects');
                    $.each(result, function (index, item) {
                        selectedDeviceModel.append(
                            $('<option/>', {
                                value: item.Value,
                                text: item.Text
                            })
                        );
                    });

                    $("#Projects").prop('selectedIndex', 1).trigger('change');
                },
                error: function (ex) {
                    alert('Failed to retrieve Project.' + ex);
                }
            });
            return false;
        };
        GetPrj();

        $("#Projects").change(function ()
        {
            if($("#Projects option:selected").val()!="-1")
            {
                $('#dvLoading').show();
                $("#ddlPurchaseReq").empty();
                $.ajax({
                    type: 'POST',
                    url: BindPIOnly,

                    dataType: 'json',

                    data: { ProjectId: $("#Projects option:selected").val()},

                    complete: function () {
                        $('#dvLoading').hide();
                    },
                    success: function (objlst) {
                        objlst = $.parseJSON(objlst)
                        GetPILIST(objlst);

                    },
                    error: function (ex) {
                        alert('Failed to retrieve.' + ex);
                    }
                });
                return false;
            }
            else
            {
                var markup = "<option value='-1'>Select P.I</option>";

                $("#ddlPurchaseReq").html(markup).show();
            }

        });

        $('#ddlPurchaseReq').change(function(){
            if($(this).val()!=''){
                BindDdl('#ddlPO','@Url.Action("GetPOByPI")',{PI:$('#ddlPurchaseReq option:selected').text()},'P.O');
            }
            else{
                ClearDdl('#ddlPO','P.O');
            }
        });


        $('#Projects').change(function(){
            if($(this).val()!=''){
                BindDdl('#ddlVendors','@Url.Action("GetVendors")',{PId:$(this).val()},'Vendor Name');
                BindDdl('#ddlItemGroups','@Url.Action("GetItemGroups")',{},'Item Group');
            }
            else{
                ClearDdl('#ddlItemGroups','Item Group');
            }
        });

        $('#ddlItemGroups').change(function(){
            if($(this).val()!=''){
                BindDdl('#ddlItems','@Url.Action("GetItemsByGroupId")',{GID:$(this).val()},'Item');
            }
            else{
                ClearDdl('#ddlItems','Item Name');
            }
        });


        $('#btn_Search').click(function (e) {
            
            if($('#Projects').val()==0){
                alert('Please select Project.');
                return false;
            }

            if($('#ddlPurchaseReq').val()=='-1'){
                alert('Please select P.I.');
                return false;
            }
            
            
            $("#dvLoading").show();

            e.preventDefault();
            var url = '@Url.Action("GetDemoData", "DesignDemo")';
            $('#formbody').html('');
            $.get(url,
                { ProjectId: $("#Projects option:selected").val(), PI: $('#ddlPurchaseReq option:selected').text(),PO:$('#ddlPO').val(),VendorId:$('#ddlVendors').val(),ItemGroupId:$('#ddlItemGroups').val(),ItemId:$('#ddlItems').val(), fromdate: $('#fromdate').val(), todate: $('#todate').val() },
                function (result) {
                    $('#formbody').show();
                    $('#formbody').html(result);

                    $("#dvLoading").hide();
                });
        })


    })

    function GetPILIST(data) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlPurchaseReq").html(procemessage).show();
        var markup = "<option value='-1'>Select P.I</option>";
        for (var x = 0; x < data.length; x++) {
            if (data[x].Value != null)
                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";

        }
        $("#ddlPurchaseReq").html(markup).show();

    }



</script>


<section id="content_wrapper">

    <section id="content" class="table-layout animated fadeIn">


        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">

                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">Details of Purchase Indent vs Purchase order </span>
                                </div>

                                <form class="row">

                                    <div class="col-md-12">
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()


                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                            <div class="well">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Project</label>
                                                                @Html.DropDownList("Projects", new SelectList(string.Empty, "Value", "Text"), "Select Project ", htmlAttributes: new { @id = "Projects", @class = "form-control" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Purchase Requisition</label>
                                                                @Html.DropDownList("PurchaseRequsition", new SelectList(string.Empty, "Value", "Text"), "Select P.I ", htmlAttributes: new { @id = "ddlPurchaseReq", @class = "form-control" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Purchase Order</label>
                                                                <select class="form-control" id="ddlPO">
                                                                    <option value="">Select P.O</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Vendor Name</label>
                                                                <select id="ddlVendors" class="form-control">
                                                                    <option value="">Select Vendor Name</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Item Group</label>
                                                                <select id="ddlItemGroups" class="form-control">
                                                                    <option value="">Select Item Group</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Item Name</label>
                                                                <select id="ddlItems" class="form-control">
                                                                    <option value="">Select Item</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>From Date</label>
                                                                @Html.TextBox("SelectDate", null, new { @class = "form-control", @placeholder = "From Date", @id = "fromdate" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>To Date</label>
                                                                @Html.TextBox("SelectDate", null, new { @class = "form-control", @placeholder = "To Date", @id = "todate" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label>&nbsp;</label>
                                                                <input type="button" id="btn_Search" class="btn btn-primary form-control" value="Search" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                        }
                                    </div>



                                </form>





                                <div id="dvLoading"></div>
                                <div id="#progress" style="display:none"><img src="~/Images/36.gif" /></div>
                                <div class="pager glyphicon-align-center" id="formbody">


                                </div>

                                <div class="section-divider mt40 mb25" id="spy5">

                                    <span></span>
                                </div>


                                <br />
                                <div>
                                    @*@Html.ActionLink("Export to Excel", "GetExcel", "CurrentStock", new { @class = "btn btn-primary" })*@
                                    @Html.ActionLink("Print", "PIDetailRecordPdf", "PIDetailRecordPdf_Report", new { @class = "btn btn-primary", @target = "_blank" })
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </section>

</section>

