
@{
    ViewBag.Title = "Material Status Against PO";
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";//
    }

    Layout = layout;
}

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    #dvLoading {
        background: #000 url(../../Images/Loading.gif) no-repeat center center;
        height: 64px;
        width: 64px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -16px 0 0 -16px;
    }
</style>

<script>
    $(function () {
        $("#fromdate").datepicker();
        $("#todate").datepicker();
    });
</script>

<script>
    var ss = @Html.Raw(Json.Encode(ViewBag.EmpId));
    var GetProjectByEmpId = '@Url.Action("GetProjectByEmpId", "VendorWiseReport")';
    var BindPOOnly = '@Url.Action("GetPOForProjects", "DesignDemo")';
</script>

<script type="text/javascript">
    $(document).ready(function () {

        window['GetPrj'] = function (dateString) {
            $('#dvLoading').show();
            $.ajax({
                type: 'POST',
                url: GetProjectByEmpId, // Calling json method

                dataType: 'json',
                data: { E: ss },
                complete: function () {
                    $('#dvLoading').hide();
                },
                success: function (result) {
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("#Projects").html(procemessage).show();
                    var markup = "<option value='0'>Select Project</option>";
                    $("#Projects").html(markup).show();
                    result = $.parseJSON(result)

                    var selectedDeviceModel = $('#Projects');
                    $.each(result, function (index, item) {
                        selectedDeviceModel.append(
                            $('<option/>', {
                                value: item.Value,
                                text: item.Text
                            })
                        );
                    });

                    $("#Projects").prop('selectedIndex', 0).trigger('change');
                },
                error: function (ex) {
                    alert('Failed to retrieve Project.' + ex);
                }
            });
            return false;
        };
        GetPrj();

        $("#Projects").change(function ()
        {
            if($("#Projects option:selected").val()!="-1")
            {
                $('#dvLoading').show();
                $("#ddlPO").empty();
                $.ajax({
                    type: 'POST',
                    url: BindPOOnly,

                    dataType: 'json',

                    data: { ProjectId: $("#Projects option:selected").val()},

                    complete: function () {
                        $('#dvLoading').hide();
                    },
                    success: function (objlst) {
                        objlst = $.parseJSON(objlst)
                         GetPOLIST(objlst);

                    },
                    error: function (ex) {
                        alert('Failed to retrieve.' + ex);
                    }
                });
                return false;
            }
            else
            {
                var markup = "<option value='-1'>Select P.I</option>";

                $("#ddlPO").html(markup).show();
            }

        });


        $('#btn_Search').click(function (e) {
            $("#dvLoading").show();

            e.preventDefault();
         var url = '@Url.Action("GetPOMaterialStatus", "DesignDemo")';
            $.get(url,
                { ProjectId: $("#Projects option:selected").val(), PO: $('#ddlPO option:selected').text(), fromdate: $('#fromdate').val(), todate: $('#todate').val() },
                function (result) {
                    $('#formbody').show();
                    $('#formbody').html(result);

                    $("#dvLoading").hide();
                });
        })


    })

    function GetPOLIST(data) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlPO").html(procemessage).show();
        var markup = "<option value=''>Select P.O</option>";
        for (var x = 0; x < data.length; x++) {
            if (data[x].Value != null)
                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";

        }
        $("#ddlPO").html(markup).show();

    }
</script>


<section id="content_wrapper">

    <section id="content" class="table-layout animated fadeIn">


        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">

                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">Material Status Against Purchase Order</span>
                                </div>

                                <form class="row" id="loginForm">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()



                                        <div class="form-horizontal">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <div class="section">
                                                            <label>Project</label>
                                                            <label class="field select">

                                                                @Html.DropDownList("Projects", new SelectList(string.Empty, "Value", "Text"), "Select Project ", htmlAttributes: new { @id = "Projects", @class = "form-control" })
                                                                <i class="arrow"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="section">
                                                            <label>Purchase Orders</label>
                                                            <label class="field select">

                                                                @Html.DropDownList("PurchaseOrder", new SelectList(string.Empty, "Value", "Text"), "Select P.O ", htmlAttributes: new { @id = "ddlPO", @class = "form-control" })
                                                                <i class="arrow"></i>
                                                            </label>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-2">
                                                        <div class="section">
                                                            <div class="form-group">
                                                                <label>From</label>
                                                                <label class="field prepend-icon">
                                                                    @Html.TextBox("SelectDate", null, new { @class = "form-control gui-input", @placeholder = "From Date", @id = "fromdate" })
                                                                    <label for="firstname" class="field-icon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </label>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="section">
                                                            <label>To</label>
                                                            <label class="field prepend-icon">
                                                                @Html.TextBox("SelectDate", null, new { @class = "form-control gui-input", @placeholder = "To Date", @id = "todate" })
                                                                <label for="firstname" class="field-icon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-1">
                                                        <label>&nbsp;</label><div class="clearfix"></div>
                                                        <input type="button" id="btn_Search" class="btn btn-primary" value="Search" />
                                                    </div>
                                                </div>


                                            </div>




                                        </div>

                                    }



                                </form>





                                <div id="dvLoading"></div>
                                <div id="#progress" style="display:none"><img src="~/Images/36.gif" /></div>
                                <div class="pager glyphicon-align-center" id="formbody">


                                </div>

                                <div class="section-divider mt40 mb25" id="spy5">

                                    <span></span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </section>

</section>

