@model BusinessObjects.Entity.tblVendorMaster

@{
    ViewBag.Title = "Edit";
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";//
    }

    Layout = Request.IsAjaxRequest() == true ? null : layout;
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {


    });

    function GetState(_CountryId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlState").html(procemessage).show();
        //var url = "/tblVendorMasters/GetStateByCountryId/";
        var url = '@Url.Action("GetStateByCountryId", "tblVendorMasters")';
        $.ajax({
            url: url,
            data: { CountryId: _CountryId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select State</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";

                }
                $("#ddlState").html(markup).show();
            },

            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function GetCity(_StateId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlCity").html(procemessage).show();
        //var url = "/tblVendorMasters/GetCityByStateId/";
        var url = '@Url.Action("GetCityByStateId", "tblVendorMasters")';
        $.ajax({
            url: url,
            data: { StateId: _StateId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";

                }
                $("#ddlCity").html(markup).show();
            },

            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>

<script type="text/javascript">
    $(function () {
        $(".multiselect").multiselect({
            includeSelectAllOption: true,
            buttonWidth: '100%'
        });

    });
</script>

<script type="text/javascript">

    function UpdateForm() {

        var model = new Object();

        if ($('#PRJID').val() == null) {
            alert('Kindly Select Project');
            return false;
        }


        if ($('#RegistrationType').val() == null) {
            alert('Kindly Select Registration Type');
            return false;
        }


        if ($("#TinNo").val().trim() == "") {
            alert('Kindly Enter Tin Number.');
            return false;
        }


        if ($("#Name").val().trim() == "") {
            alert('Kindly Enter Vendor Name.');
            return false;
        }


        if ($("#Address").val().trim() == "") {
            alert('Kindly Enter Address.');
            return false;
        }



        if ($("#ddlState option:selected").val().trim() == null) {
            alert('Kindly Select State');
            return false;
        }


        if ($("#Status").val().trim() == null) {
            alert('Kindly Enter Status');
            return false;
        }

        if ($("[name='BlackListStatus']:checked").val() == null) {
            alert('Kindly Check Black List Status.');
            return false;
        }



        debugger;
        var url = '@Url.Action("Edit", "tblVendorMasters")';

        debugger;

        $.ajax({
            type: "POST",
            url: url,
            data: {
                PRID: $('#PRJID').val(),
                MulRegistrationType: $('#RegistrationType').val(),
                ContactPerson: $("#ContactPerson").val(),
                VendorName: $("#Name").val(),
                Address: $("#Address").val(),
                Country: $("#ddlCountry option:selected").val(),
                State: $("#ddlState option:selected").val(),
                City: $("#ddlCity option:selected").val(),
                MobileNo: $("#MobileNo").val(),
                Email: $("#Email").val(),
                Status: $("#Status").val(),
                PanNo: $("#PanNo").val(),
                TinNo: $("#TinNo").val(),
                PinCode: $("#PinCode").val(),
                PhoneNo: $("#PhoneNo").val(),
                VendorID: $("#VendorID").val(),
                Vat_no: $("#VAT_No").val(),
                GST_no: $("#GST_NO").val(),
                AadharNo: $("#Aadhaar_No").val(),
                BlackListStatus: $("[name='BlackListStatus']:checked").val()
            },

            success: function (data) {//On Successful service call
                alert('Submit Data Successfully');
                var url = $("#RedirectTo").val();
                location.href = url;
            },
            failure: function (errMsg) {
                debugger;
                alert('Error in Submit Data');
            }
        });





    }


</script>





<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
@if (!Request.IsAjaxRequest())
{
    <section id="content_wrapper">

        <section id="content" class="table-layout animated fadeIn">


            <div class="tray tray-center">

                <div class="mw1000 center-block">


                    <div class="admin-form">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <form action="#" id="form-ui">
                                    @*<div class="section-divider mb40" id="spy1">
                            <span>Vendor Master</span>
                        </div>*@


                                    <div class="row">
                                        <h3 class="text-danger" style="text-align:center">Edit</h3>
                                        <hr />
                                        @using (Html.BeginForm("Edit","tblVendorMasters",FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.TransID)
                                                @Html.HiddenFor(model => model.VendorID)
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PRJID, "Project", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @*@Html.EditorFor(model => model.PRJID, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @*<label class="field select">*@
                                                        @Html.DropDownList("PRJID", null, htmlAttributes: new
                                       {
                                           @id = "PRJID",
                                           @class = "form-control multiselect",
                                           multiple = "multiple"
                                       })
                                                        @Html.ValidationMessageFor(model => model.PRJID, "", new { @class = "text-danger" })
                                                        <i class="arrow"></i>
                                                        @*</label>*@
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.RegistrationType, "Registration Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        <label class="field select">
                                                            @Html.DropDownList("RegistrationType", null, htmlAttributes: new { @id = "RegistrationType", @class = "form-control multiselect", multiple = "multiple" })
                                                            @Html.ValidationMessageFor(model => model.RegistrationType, "", new { @class = "text-danger" })
                                                            <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TinNo, "Tin No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.TinNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.TinNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.VAT_No, "VAT No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.VAT_No, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.VAT_No, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.GST_NO, "GST No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.GST_NO, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.GST_NO, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Aadhaar_No, "Aadhaar No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Aadhaar_No, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Aadhaar_No, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>




                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PanNo, "Pan No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.PanNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PanNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    @Html.Hidden("RedirectTo", Url.Action("Index", "tblVendorMasters"))
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @*@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        <label class="field select">
                                                            @Html.DropDownList("Country", null, htmlAttributes: new { @class = "form-control", @id = "ddlCountry", @onchange = "javascript:GetState(this.value);" })
                                                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                                            <i class="arrow"></i>
                                                        </label>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @*@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @*<select id="ddlState" name="State" style="width: 200px" onchange="javascript:GetCity(this.value);"></select>*@
                                                        <label class="field select">
                                                            @{   try
                                                                {
                                                                    @Html.DropDownList("State", null, htmlAttributes: new
                                                   {
                                                       @class = "form-control",
                                                       @id = "ddlState",
                                                       @onchange = "javascript:GetCity(this.value);"
                                                   })}
                                                                catch
                                                                { <select id="ddlState" name="State" style="width: 200px" onchange="javascript:GetCity(this.value);"></select>}}
                                                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                                            <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @*@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        <label class="field select">
                                                            @{try
                                                                {
                                                                    @Html.DropDownList("City", null, htmlAttributes: new
                                                   {
                                                       @class = "form-control",
                                                       @id = "ddlCity",
                                                   }) }
                                                                catch
                                                                { <select id="ddlCity" name="City" style="width: 200px"></select> }
                                                            }
                                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                                            <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PinCode, "Pin Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PinCode, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        <b style="color:red">*</b>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ContactPerson, "Contact Person", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.MobileNo, "Mobile No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PhoneNo, "Phone No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.BlackListStatus, "Black List Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-9 text-left">
                                                        @*@Html.EditorFor(model => model.BlackListStatus, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        Yes:@Html.RadioButtonFor(model => model.BlackListStatus, "Y")
                                                        No:@Html.RadioButtonFor(model => model.BlackListStatus, "N")
                                                        @Html.ValidationMessageFor(model => model.BlackListStatus, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-12 text-center">
                                                        <input type="button" value="Update" class="btn btn-primary" onclick="UpdateForm()" /> |
                                                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                                                }
                                    </div>



                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </section>

    </section>
}
    else
    {
        <div class="admin-form">

            <div class="panel heading-border">
                <div class="panel-body bg-light">
                    <form method="post" action="/tblVendorMasters/Edit" id="form-ui">
                        @*<div class="section-divider mb40" id="spy1">
                            <span>Vendor Master</span>
                        </div>*@


                        <div class="row">
                            <h3 class="text-danger" style="text-align:center">Edit</h3>
                            <hr />
                            
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.TransID)
                                @Html.HiddenFor(model => model.VendorID)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PRJID, "Project", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @*@Html.EditorFor(model => model.PRJID, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @*<label class="field select">*@
                                        @Html.DropDownList("PRJID", null, htmlAttributes: new
                                       {
                                           @id = "PRJID",
                                           @class = "form-control multiselect",
                                           multiple = "multiple"
                                       })
                                        @Html.ValidationMessageFor(model => model.PRJID, "", new { @class = "text-danger" })
                                        <i class="arrow"></i>
                                        @*</label>*@
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RegistrationType, "Registration Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        <label class="field select">
                                            @Html.DropDownList("RegistrationType", null, htmlAttributes: new { @id = "RegistrationType", @class = "form-control multiselect", multiple = "multiple" })
                                            @Html.ValidationMessageFor(model => model.RegistrationType, "", new { @class = "text-danger" })
                                            <i class="arrow"></i>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TinNo, "Tin No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.TinNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TinNo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.VAT_No, "VAT No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.VAT_No, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.VAT_No, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.GST_NO, "GST No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.GST_NO, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GST_NO, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Aadhaar_No, "Aadhaar No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Aadhaar_No, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Aadhaar_No, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>




                                <div class="form-group">
                                    @Html.LabelFor(model => model.PanNo, "Pan No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.PanNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PanNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.Hidden("RedirectTo", Url.Action("Index", "tblVendorMasters"))
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @*@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })*@
                                        <label class="field select">
                                            @Html.DropDownList("Country", null, htmlAttributes: new { @class = "form-control", @id = "ddlCountry", @onchange = "javascript:GetState(this.value);" })
                                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                            <i class="arrow"></i>
                                        </label>

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @*@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @*<select id="ddlState" name="State" style="width: 200px" onchange="javascript:GetCity(this.value);"></select>*@
                                        <label class="field select">
                                            @{   try
                                                {
                                                    @Html.DropDownList("State", null, htmlAttributes: new
                                                   {
                                                       @class = "form-control",
                                                       @id = "ddlState",
                                                       @onchange = "javascript:GetCity(this.value);"
                                                   })}
                                                catch
                                                { <select id="ddlState" name="State" style="width: 200px" onchange="javascript:GetCity(this.value);"></select>}}
                                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                            <i class="arrow"></i>
                                        </label>
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @*@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })*@
                                        <label class="field select">
                                            @{try
                                                {
                                                    @Html.DropDownList("City", null, htmlAttributes: new
                                                   {
                                                       @class = "form-control",
                                                       @id = "ddlCity",
                                                   }) }
                                                catch
                                                { <select id="ddlCity" name="City" style="width: 200px"></select> }
                                            }
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                            <i class="arrow"></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PinCode, "Pin Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PinCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <b style="color:red">*</b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ContactPerson, "Contact Person", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MobileNo, "Mobile No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNo, "Phone No.", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.BlackListStatus, "Black List Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @*@Html.EditorFor(model => model.BlackListStatus, new { htmlAttributes = new { @class = "form-control" } })*@
                                        Yes:     @Html.RadioButtonFor(model => model.BlackListStatus, "Y")
                                        No:   @Html.RadioButtonFor(model => model.BlackListStatus, "N")
                                        @Html.ValidationMessageFor(model => model.BlackListStatus, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })|
                                        <input type="button" value="Update" class="btn btn-primary" onclick="UpdateForm()" />
                                    </div>
                                </div>
                            </div>

                        </div>



                    </form>
                </div>
            </div>

        </div>
}
