@model MMS.Controllers.View_Print_Slip_ApprovalController.PrintData
@{
    Layout = null;
    string contactPerson = "";
    string contact = "";
    int? DivType = null;
}

<!DOCTYPE html>

<html>
<head>

    @*@*<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />

        @*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@

    @* FOR EMPLOYEE NAME BINDING HERE *@




    <style>
        /*td {
            text-align: center;
        }

        table tr td {
            font-size: 12px;
        }*/
    </style>
    <style type="text/css">
        #divtoprint .tblEmployee {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        #divtoprint .EmployeeTableTH {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        #divtoprint .EmployeeTableTD {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#approved").click(function () {
                $("#yourDialog").show();
            });
        });
    </script>

    @*<script type="text/javascript">
        $(document).ready(function () {
            $("#tblEmployee1 tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAll_GTC_Details")',
                dataType: 'json',
                data: {},
                success: function (data) {
                    $("#imgLoading1").hide();
                    var items = '';
                    var rows = "<tr class='primary'>"
                        + "<th align='left' class='EmployeeTableTH'>GTC</th>"
                        + "</tr>";
                    $('#tblEmployee1 tbody').append(rows);

                    $.each(data, function (i, item) {
                        var rows = "<tr class='system'>"
                       + "<td class='EmployeeTableTD'>" + item.GTC_Description + "</td>"

                        + "</tr>";
                        $('#tblEmployee1 tbody').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                }
            });
            return false;
        });
        </script>*@

    @* Print Code here *@
    <style>

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
        }
    </style>

    <script>
        function PrintContent() {
            var DocumentContainer = document.getElementById('divtoprint');
            var WindowObject = window.open("", "PrintWindow",
                "width=1000,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes");
            WindowObject.document.writeln(DocumentContainer.innerHTML);
            WindowObject.document.close();
            WindowObject.focus();
            WindowObject.print();
            WindowObject.close();
        }
    </script>

</head>
<body>
    <div id="divtoprint">
        <style type="text/css">
            @@media print {
                #divtoprint table, p, div {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 12px;
                    font-weight: normal;
                }

                #divtoprint table {
                    border-style: solid;
                    border-color: #000000;
                    border-top-width: 0.5px;
                    border-left-width: 0.5px;
                    border-bottom-width: 0px;
                    border-right-width: 0px;
                }

                #divtoprint tr, td {
                    border-style: solid;
                    border-color: #000000;
                }

                #divtoprint tr {
                    border-width: 0px;
                }

                #divtoprint .nb {
                    border-bottom-width: 0px;
                }

                #divtoprint td, th {
                    border-top-width: 0px;
                    border-left-width: 0px;
                    border-bottom-width: 0.5px;
                    border-right-width: 0.5px;
                }

                #divtoprint .breakpage {
                    page-break-after: always;
                }

                tr {
                    page-break-inside: avoid;
                    page-break-after: auto;
                }
            }
        </style>

        @if (Model.HeaderData.IsPORelease == true)
        {
           
        }
        else
        {
            <h3 style="text-align:center;"><u>Draft PO</u></h3>
        }

        <center>
            <table class="table table-bordered" cellpadding="4" cellspacing="0" border="1" width="100%">

                <tbody>
                    <tr>
                        <td rowspan="3"><img src="~/Images/logo.png" /></td>
                        <td>
                            Ahluwalia Contracts (India) Ltd<br />
                            CIN: L45101DL1979PLC009654
                        </td>
                        <td>Title: Purchase (QMSP-08)</td>
                        <td>Revision 3.0 dated 01/08/2020</td>

                    </tr>
                    <tr style="border-bottom: 2px solid black !important;">
                        <td>ISO 9001:2015</td>
                        <td>ISO 14001:2015 </td>
                        @if (Model.HeaderData.PurchaseOrderDate.Value.Day >= 1 && Model.HeaderData.PurchaseOrderDate.Value.Month >= 8 && Model.HeaderData.PurchaseOrderDate.Value.Year >= 2020)
                        {
                            <td>ISO 45001:2018</td>
                        }
                        else
                        {
                            <td>ISO 45001:2018</td>
                        }

                    </tr>
                    @*<tr>
                        <td colspan="3">PURCHASE ORDER (F-02/QMSP-08)</td>
                    </tr>*@
                </tbody>
            </table>
        </center>

        <h5 style="text-align:center;"><u>PURCHASE ORDER (F-02/QMSP-08)</u></h5>
        @if (Model.HeaderData.IsPORelease == true)
        {
            <h4 style="text-align:center;"><u>PO Released</u></h4>
        }
        <table class="table table-bordered" style="width:100%" cellpadding="4" cellspacing="0" border="1">

            <thead>

                <tr>
                    <th style="text-align:left; font-size:12px;">Project Name & Address:</th>
                    <th style="text-align:left; font-size:12px;">PO No.@Model.HeaderData.PurchaseOrderNo</th>
                    <th style="text-align:left; font-size:12px;">PO Date: @Model.HeaderData.PurchaseOrderDate.Value.ToString("dd/MM/yyyy") </th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td style="text-align:justify; width:40%; font-size:12px;">
                        @Model.HeaderData.ProjectName
                        <p style="margin:0px; font-size:12px;">@Model.HeaderData.Location</p>
                    </td>
                    <td colspan="2" style="color:black; text-align:left; font-size:12px;">
                        Indent Ref No. @Model.HeaderData.IndentRefNo   Dtd. @ViewBag.PurDate.ToString("dd/MM/yyyy")
                    </td>
                </tr>
                <tr>
                    <th style="text-align:left; font-size:12px;">
                        Supplier's Name & Address:
                    </th>
                    <th style="color:black; text-align:left; font-size:12px;"> ACIL GST No. : @Model.HeaderData.AcilGSTNo </th> @*//ACIL TIN No. : @Model.HeaderData.AcilTinNo*@


                    <th style="text-align:left; font-size:12px;"></th>
                </tr>
                <tr>
                    <td style="width:40%; text-align:justify;">
                        @Model.HeaderData.Name   <br />  @Model.HeaderData.Address <br /> @Model.HeaderData.Vendor_country_state_city
                        <p style="margin:0px; font-size:12px;"></p>
                        <p style="margin:0px; font-size:12px;">Supplier GST No. @Model.HeaderData.VendorGSTNo</p>
                        <p style="margin:0px; font-size:12px;">Contact:Mr. @Model.HeaderData.ContactPerson (@Model.HeaderData.MobileNo) @Model.HeaderData.Email</p>
                    </td>
                    <td colspan="2" valign="top" style="color:black; text-align:left;font-weight:100">
                        Reference:@Model.HeaderData.Reference
                    </td>
                </tr>
            </tbody>

        </table>
        @* Table for Dear sir *@
        <div style="margin:0px;">
            <p>
                Dear Sir,<br />
                We are pleased to place on your firm the following order for supplies as per the rates specified hereunder:
            </p>
        </div>
        <p><strong>Order For: </strong> @Model.HeaderData.PODescription</p>
        <div class="panel-body pn">

            @{int rowNo = 1; var gstamt = Model.ItemData[0].CGSTAmt; int cols = 0; var taxType = Model.ItemData[0].TaxType;}
            @if (Model.HeaderData.TCSActive)
            {
                if (!taxType.ToLower().Contains("igst"))
                {
                    cols = 18;
                }
                else {
                    cols = 16;
                }
            }
            else
            {
                cols = 16;
            }
            <table id="t01" width="100%" style="font-size:10px;" cellpadding="4" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th rowspan="2">S.No.</th>
                        <th colspan=@cols style="text-align:center">Description</th>
                        <th>HSN Code</th>
                        <th>Item Code</th>
                        @if (!Model.HeaderData.TCSActive)
                        {
                            <th>Unit</th>
                        }
                    </tr>
                    <tr>
                        @if (Model.HeaderData.TCSActive)
                        {
                            <th>Unit</th>
                        }
                        <th>Qty</th>
                        <th>Rate (Rs.) </th>
                        <th>Discount (%) </th>
                        <th>Amount(After Discount)</th>
                        <th>P&F Chrg. %</th>
                        <th>P&F Amt</th>
                        <th>Cartage Type</th>
                        <th>Cartage Type Rate</th>
                        <th>Cartage Amt.</th>
                        <th>Insurance (%)</th>
                        <th>Ins. Amt.</th>
                        <th>Taxable Amount</th>
                        @if (Model.HeaderData.TCSActive)
                        {
                            if (!taxType.ToLower().Contains("igst"))
                            {
                                <th>CGST (%)</th>
                                <th>SGST/UTGST (%) </th>
                            }
                            else
                            {
                                <th>IGST (%) </th>
                            }
                        }
                        else {
                            <th>CGST (%)</th>
                            <th>SGST/UTGST (%) </th>
                                <th>IGST (%) </th>
                        }
                        @if (Model.HeaderData.TCSActive)
                        {
                            if (!taxType.ToLower().Contains("igst"))
                            {
                                <th>CGST Amt.(Rs.)</th>
                                <th>SGST/UTGST Amt.(Rs.)</th>
                            }
                            else
                            {
                                <th>IGST Amt.(Rs.)</th>
                            }
                        }
                        else {
                            <th>CGST Amt.(Rs.)</th>
                            <th>SGST/UTGST Amt.(Rs.)</th>
                                <th>IGST Amt.(Rs.)</th>
                        }
                        @if (Model.HeaderData.TCSActive)
                        {
                            <th>TCS (%)</th>
                            <th>TCS Amt</th>
                        }
                        <th>Amt(Rs.)</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var c in Model.ItemData)
                    {


                        <tr>
                            <td rowspan="2"><label>@rowNo</label>   @{ rowNo++; }</td>
                            <td colspan=@cols>
                                @c.ItemName <br />
                                @if (c.ItemDescrp == null)
                                {
                                }
                                else
                                {
                                    @c.ItemDescrp.ToString()
                                }
                            </td>
                            <td>@c.HSNCode</td>
                            <td>@c.ItemNo</td>
                            @if (!Model.HeaderData.TCSActive)
                            {
                                <th>@c.UnitName</th>
                            }
                        </tr>
                        <tr>
                            @if (Model.HeaderData.TCSActive)
                            {
                                <td><b>@c.UnitName</b></td>
                            }
                            <td>@c.Qty</td>
                            <td>@c.Rate</td>
                            <td>@c.Discount</td>
                            <td>@c.ItemToTAmt</td>
                            <td>@c.PackagePercentage</td>
                            <td>@c.PackingPercentageAmt</td>
                            <td>@c.CartageType</td>
                            <td>@c.CartageTypeRate</td>
                            <td>@c.CartageAmt</td>
                            <td>@c.InsurancePercentage</td>
                            <td>@c.InsurancePercentageAmt</td>
                            <td>@c.TaxableAmount</td>
                            @if (Model.HeaderData.TCSActive)
                            {
                                if (!taxType.ToLower().Contains("igst"))
                                {
                                    <td>@c.CGSTPercentage</td>
                                        <td>@c.SGSTAndUTGSTPercentage</td>
                                }
                                else {
                                    <td>@c.IGST</td>
                                }
                            }
                            else {
                                <td>@c.CGSTPercentage</td>
                                    <td>@c.SGSTAndUTGSTPercentage</td>
                                    <td>@c.IGST</td>
                            }
                            @if (Model.HeaderData.TCSActive)
                            {
                                if (!taxType.ToLower().Contains("igst"))
                                {
                                    <td>@c.CGSTAmt</td>
                                        <td>@c.SGSTAndUTGSTAmt</td>
                                }
                                else
                                {
                                    <td>@c.IGSTAmt</td>
                                }
                            }
                            else
                            {
                                <td>@c.CGSTAmt</td>
                                    <td>@c.SGSTAndUTGSTAmt</td>
                                    <td>@c.IGSTAmt</td>
                            }
                            @if (Model.HeaderData.TCSActive)
                            {
                                <td>@c.TCSRate</td>
                                    <td>@c.TCSAmount</td>
                            }
                            <td>@c.GrossAmount</td>
                        </tr>

                    }

                </tbody>




                <tfoot>
                    <tr>
                       @if (Model.HeaderData.TCSActive)
                       {
                        <td colspan="3"><b>Grand Total</b></td>
                       }
                       else
                       {
                        <td colspan="2"><b>Grand Total</b></td>
                       }

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>@Model.HeaderData.Total</td>
                        <td>&nbsp;</td>
                        <td>@Model.HeaderData.TotalPackingSum</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>@Model.HeaderData.TotalCartageSum</td>
                        <td>&nbsp;</td>
                        <td>@Model.HeaderData.TotalInsuranceSum</td>
                        <td>@Model.HeaderData.TotalTaxableAmountSum</td>
                        @if (Model.HeaderData.TCSActive)
                        {
                            if (!taxType.ToLower().Contains("igst"))
                            {
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            }
                            else {
                                <td>&nbsp;</td>
                            }
                        }
                        else {
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                                <td>&nbsp;</td>
                        }
                        @if (Model.HeaderData.TCSActive)
                        {
                            if (!taxType.ToLower().Contains("igst"))
                            {
                                <td>@Model.HeaderData.TotalCGSTSum</td>
                                <td>@Model.HeaderData.TotalSCGSTAndUTGSTSum</td>
                            }
                            else
                            {
                                <td>@Model.HeaderData.IGSTSum</td>
                            }
                        }
                        else {
                            <td>@Model.HeaderData.TotalCGSTSum</td>
                            <td>@Model.HeaderData.TotalSCGSTAndUTGSTSum</td>
                                <td>@Model.HeaderData.IGSTSum</td>
                        }
                        @if (Model.HeaderData.TCSActive)
                        {
                            <td>&nbsp;</td>
                            <td>@Model.HeaderData.TotalTCSAmt</td>
                        }
                        <td>@Model.HeaderData.GrandTotal</td>
                    </tr>

                    <tr>
@if (Model.HeaderData.TCSActive)
{
    <td colspan="21" style="text-align:left;">
        <b> Amount In Word :</b> @ViewBag.PrintamountInWord
    </td>
}
else {
                        <td colspan="20" style="text-align:left;">
                            <b> Amount In Word :</b>  @ViewBag.PrintamountInWord
                        </td>
}
                    </tr>
                </tfoot>


            </table>

        </div>

        <h5><u>Specific Terms & Conditions</u></h5>
        <div>

            <table style="width:100%;" cellpadding="4" cellspacing="0" border="1">
                @foreach (var items_Dels in ViewBag.Delevery_details)
                {
                    contactPerson = @items_Dels.Contact_Person_Name;
                    contact = @items_Dels.Contact_Person_Mobile;
                    DivType = items_Dels.DivType;
                    <tr>
                        <td style="text-align:left; font-size:12px;" width="20">1</td>
                        <td align="left" style="text-align:left;">Delivery Address: Ahluwalia Contracts (India) Ltd, @Model.HeaderData.ProjectName , @items_Dels.Delivery_Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; font-size:12px;">2</td>
                        <td align="left" style="text-align:left;">Contact Person At Site: @items_Dels.Contact_Person_Name @items_Dels.Contact_Person_Mobile</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; font-size:12px;">3</td>
                        <td align="left" style="text-align:left;">Store Keeper At Site: @items_Dels.StoreKeeperName @items_Dels.StoreKeeperNo</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; font-size:12px;">4</td>
                        <td align="left" style="text-align:left;">Billing Address :Ahluwalia Contracts (India) Ltd, @Model.HeaderData.ProjectName, @items_Dels.Billing_Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; font-size:12px;">5</td>
                        <td align="left" style="text-align:left;">Delivery Schedule :  @items_Dels.Delivery_Schedule</td>
                    </tr>
                }


                @{int stcsi = 6;

                    foreach (var items_Stcs in ViewBag.Stc_details)
                    {

                        <tr>

                            <td align="left" style="text-align:left;">
                                @stcsi
                            </td>
                            <td align="left" style="text-align:left;">
                                @items_Stcs.STC_Description
                            </td>
                            @*<td>
                                @item.ProjectName
                            </td>
                            <td>
                                @item.UnitName
                            </td>*@

                        </tr>
                        stcsi++;
                    }
                }

            </table>
        </div>

        <h5><u>Specific Instructions</u></h5>
        <div>
            <table id="table_Si1" style="width:100%;" cellpadding="4" cellspacing="0" border="1">

                @{int sii = 1;
                    foreach (var items_Sis in ViewBag.Si_details)
                    {

                        <tr>
                            <td width="20">
                                @sii
                            </td>
                            <td style="text-align:left; font-weight: normal;">
                                @items_Sis.SI_Description
                            </td>
                            @*<td>
                                @item.ProjectName
                            </td>
                            <td>
                                @item.UnitName
                            </td>*@

                        </tr>
                        sii++;
                    }
                }

            </table>
        </div>





        <p>Please supply the above material/goods immediately at abovementioned site as per the terms and conditions stipulated above and overleaf. Also, please confirm acceptance of this PO.</p>




        <table class="table table-bordered" style="width:100%" cellpadding="4" cellspacing="0" border="1">
            <thead>
                <tr>
                    <th style="text-align:left; font-size:18px;">Acceptance of PO by Supplier</th>

                    <th style="text-align:left; font-size:18px;">Authorised Signatory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:left;"></td>
                    <td></td>
                    <td></td>
                    @*<td style="text-align:left;">@Model.HeaderData.PoApprovedBy <br /> Signature: </td>
                    <td style="text-align:left;"> @Model.HeaderData.IsReleasePOBy <br /> Signature: </td>*@
                </tr>
            </tbody>
        </table>
        <br />
        <table style="width:100%" cellpadding="4" cellspacing="0" border="1">
            <tr><td colspan="2" text-align:left;">Acceptance of PO by Supplier</td></tr>
            <tr>
                <td>(Supplier to sign and put official stamp here on copy of the PO and return to ACIL for record, or confirm acceptance by  e-mail.)</td>
                <td>Counter-signature of Project In-Charge /Controlling Dept. Rep in Head Office</td>
            </tr>
        </table>
        <br />
        <table style="width:100%" cellpadding="4" cellspacing="0" border="1">
            <tr>
                <td>Correspondence Address:</td>
                @*<td> A-177, Okhla Industrial Area, Phase-1, New Delhi - 110020</td>*@
                @if (DivType == null)
                {
                    <td> A-177, Okhla Industrial Area, Phase-1, New Delhi - 110020</td>
                }
                else
                {
                    <td>@ViewBag.OfficeAddress</td>
                }
            </tr>
            <tr>
                <td>Contact Person:</td>
                @if (DivType == null)
                {
                    <td>Barun Kumar (+91-8587906391)</td>
                }
                else
                {
                    <td> @ViewBag.OfficeContactName @ViewBag.OfficeMobile</td>
                }
            </tr>
        </table>
        <div class="breakpage"></div>
        <center>
            <h5><u>General Terms & Conditions</u></h5>

            <p style="font-size:12px;">(Reference PO No.<b style="color:blue;" id="bold1">@Model.HeaderData.PurchaseOrderNo</b> Dated @Model.HeaderData.PurchaseOrderDate.Value.ToString("dd/MM/yyyy"))</p>

        </center>
        <div>
            <table id="table_Gtcs1" style="width:100%;" cellpadding="4" cellspacing="0" border="1">
                @{int i = 1;
                    foreach (var items_Gtcsc in ViewBag.Gtc_details)
                    {

                        <tr>
                            <td width="20">
                                @i
                            </td>
                            <td Style="text-align:left; font-weight: normal;">
                                @items_Gtcsc.GTC_Description
                            </td>
                        </tr>
                        i++;
                    }
                }
            </table>

            @*<table id="tblEmployee1" class="table">
                <thead>
                    <img src="~/Images/Loading.gif" alt="Loading" id="imgLoading1" class="Load" style="width:500px; height:500px" />
                </thead>
                <tbody></tbody>
            </table>*@

        </div>


    </div>

    <div style="clear:both;"></div>
    <div>

        @*<input type="button" id="btnBack" class="btn btn-danger" value="Calculate" />*@
        <input type="button" id="btnPrint" class="btn btn-primary" value="Print" onclick="PrintContent();" />
    </div>

</body>
</html>
