@model MMS_P.ViewModels.GridIndentRequisitions
@{
    ViewBag.Title = "Index";
    Layout = null;

}

<style type="text/css">
    #webgrid td {
        vertical-align: middle;
        font-size: 12px;
        color: #808080;
    }

    #webgrid table.inner td {
        vertical-align: middle;
        font-size: 12px;
        padding: 4px;
        color: #333;
    }

    #webgrid table.inner tr.hdng td {
        font-size: 11px;
    }

    #webgrid input {
        max-width: 73px;
        font-size: 12px;
        border-color: #666;
        border-width: 1px;
        height: 26px;
    }

    .affix {
        top: 60px;
    }

    .fxm.affix {
        width: 100%;
        max-width: 1135px;
        min-width: 965px;
        z-index: 1;
    }

    .affix + .panel {
        padding-top: 114px;
    }

    body {
        position: relative !important;
    }

    #webgrid textarea {
        font-size: 12px;
        resize: none;
        border-color: #666;
    }

    #webgrid select {
        min-width: 90px;
        height: 26px;
        padding: 2px 0;
        border-color: #666;
        font-size: 12px;
    }
</style>

<div class="list-group" id="webgrid">
    <div class="list-group-item fxm" style="background-color:#caddf5;color:#333" data-spy="affix" data-offset-top="200">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><strong>Item Name</strong></td>
                    <td width="110"><strong>Unit</strong></td>
                    <td width="110"><strong>Rem/Appr Qty</strong></td>
                    <td width="110"><strong>Total</strong></td>
                    <td width="110"><strong>Sub Total 1</strong></td>
                    <td width="110"><strong>Sub Total 2</strong></td>
                    <td width="110"><strong>Grand Total</strong></td>
                    <td width="110"><strong>Last Purchase Rate</strong></td>
                </tr>
            </table>
        </div>
    </div>

    @foreach (var item in Model.Child)
    {
        var ReminingQty = (@item.ApprovedQty ?? 0) - (@item.OrderedQty ?? 0);
        <input type="hidden" value="@item.UId" id="hdn_pur_req_id" /> <input type="hidden" id="hdn_item_approv_qty_@item.UId" value="@item.ApprovedQty" />

        <div class="panel list-group-item single" data-parent="@item.UId" style="background-color:#f8f8f8">

            <a data-toggle="collapse" data-parent="#webgrid" href="#SrNo_@item.UId" id="aid_@item.UId">
                <div class="table-responsive">
                    <table class="table" id="tbl_topnm">
                        <tr class="mahajet" data-trautoincrm="@item.UId">
                            <td>
                                @Html.DisplayFor(modelitem => item.ItemName)  <input type="hidden" value="@item.ItemNo" id="hdn_itemnoto_@item.UId" />
                            </td>
                            <td width="110" class="getcrval">@Html.DisplayFor(modelItem => item.Unit)</td>
                            <td width="110">@ReminingQty  <input type="hidden" id="hdn_remaing_qty_@item.UId" value="@ReminingQty" /> </td>
                            <td width="110"><input type="text" id="Ctotal_amount_@item.UId" readonly disabled /></td>
                            <td width="110"><input type="text" id="total_SubTotal_Amount1_@item.UId" readonly disabled /></td>
                            <td width="110"><input type="text" id="total_SubTotal_Amount2_@item.UId" readonly disabled /></td>
                            <td width="110"><input type="text" id="total_GrandTotal_Amount_@item.UId" readonly disabled /></td>
                            <td width="110">
                               0.00
                              <input type="hidden" id="hdn_indent_uid_@item.UId" value="@item.UId" />
                            </td>
                        </tr>
                    </table>
                </div>
            </a>


            <div id="SrNo_@item.UId" class="second panel-collapse collapse" data-dhdn="@item.UId" style="background-color:#fff;margin-bottom:6px;">
                <div class="panel-body">



                    <div class="table-responsive" id="inner_div_input_id">

                     <table class="table inner" id="kghdd">

                            <tr class="hdng">
                                @if (ViewBag.ViewAdd_Desc != null)
                                {
                                    var dtawe = ((List<MMS.ViewModels.ItemDescriptionData>)ViewBag.ViewAdd_Desc).FirstOrDefault(x => x.ItemId == item.ItemNo);
                                    if (dtawe != null)
                                    {

                                        <td>Description (Qty Variation: @dtawe.ItemExcessPercentage % ) </td>
                                    }
                                    else
                                    {
                                        <td>Description</td>
                                    }

                                }
                                <td>Current Qty</td>
                                <td>Rate</td>
                                <td>Discount (%)</td>
                                <td>P&F (%)</td>
                                <td>P&F Amount </td>
                                <td>Cartage Type* </td>
                                <td>Cartage Rate </td>
                                <td>Cartage Amount </td>
                            </tr>

                            <tr class="getItems-1" id=@item.UId>


                            <td class="SrNo_@item.UId">



                                    @if (ViewBag.ViewAdd_Desc != null)
                                    {
                                        var dta = ((List<MMS.ViewModels.ItemDescriptionData>)ViewBag.ViewAdd_Desc).FirstOrDefault(x => x.ItemId == item.ItemNo);

                                        if (dta != null)
                                        {

                                            @Html.TextArea("IDesc", @dta.ItemDescription, new { Style = "width:190px;" })

                                        }
                                        else
                                        {
                                            <span>Description</span>
                                            @Html.TextArea("IDesc", @dta.ItemDescription, new { Style = "width:190px;" })
                                        }


                                    }
                                </td>



                            <td class=CQty_@item.UId>

                                    <input id="Qty" type="text" style="width: 45px;" />

                                </td>

                            <td class=CRate_@item.UId>

                                    @if (ViewBag.ViewAdd_Rate != null)
                                    {
                                        var dta = ((List<MMS.ViewModels.Rate>)ViewBag.ViewAdd_Rate).FirstOrDefault(x => x.ItemId == item.ItemNo);

                                        if (dta != null)
                                        {

                                          <input id="Rate" type="text" value="@dta.Rates" />

                                                @Html.Hidden("RatingsCompares", dta.Rates)
                                        }
                                        else
                                        {

                                            <input id="Rate" type="text" />
                                        }


                                    }

                                <input type="hidden" id="hdndiscountedRate_@item.UId" />

                            </td>



                            <td class=CDiscount_@item.UId>

                                @Html.Editor("Discount")
                            </td>



                            <td class=PackingchargePercentage_@item.UId>

                                <input id="txtpackingChargePercentage" type="text"  />
                            </td>
                            <td class=PackingchargePertageAmt_@item.UId>

                             <input id="txtpackingChargePercentageAmount_@item.UId" type="text" />
                            </td>
                            <td class=CartageType_@item.UId>


                             @*@Html.DropDownList("CartageTypeddl", new List<SelectListItem>() { new SelectListItem() { Text = "", Value = "" } }, "Select", htmlAttributes: new { @id = "CartageTypeddl_" + @item.UId, @class = " car1-type1 form-control", @data_cartage1 = @item.UId })*@


                                 @Html.DropDownList("CartageTypeddl", (IEnumerable<SelectListItem>)ViewBag.Cartage, "Select",htmlAttributes: new { @id = "CartageTypeddl_" + @item.UId, @data_cartage1 = @item.UId, @class = "car1-type1 form-control" })


                            </td>


                            <td class=CartagerateValue_@item.UId>

                                    <input id="CartageRate1_@item.UId" type="text" class="cartage1-Inputrate" data-itval="@item.UId"  />
                           </td>

                            <td class="adnd Cartageamt_@item.UId">

                                    <input id="CartageAmount1" type="text" class="car1amttkval caramt_@item.UId" data-cart1amtvalsum="@item.UId" />
                            </td>
                            

                        </tr>



                        </table>

                    <table class="table inner" id="kghddu" style="border-top:1px dashed #999">
                        <tr class="hdng">
                            <td>Insurance(%)</td>
                            <td>Insurance Amount</td>
                            <td>GST Slab *(%)</td>
                            <td class="GST_Col">CGST Rate(%)</td>
                            <td class="GST_Col">SGST/UTGST Rate(%)</td>
                            <td class="IGST_Col">IGST Rate(%)</td>
                            <td class="GST_Col">CGST Amount</td>
                            <td class="GST_Col">SGST/UTGST Amount</td>
                            <td class="IGST_Col">IGST Amount</td>
                            <td>Total GST Amount</td>
                            <td class="hide">Gross Amount WO TCS</td>
                            <td>TCS Slab</td>
                            <td>TCS Amount</td>
                            <td>Gross Amount</td>
                        </tr>

                        <tr class="getItems" id=@item.UId>
                            
                            <td class=InsuranceRatePercentage_@item.UId>

                                <input id="txtInsuranceRatePercentage_@item.UId" type="text"  />
                            </td>
                            <td class=InsurancePercentageAmt_@item.UId>

                                <input id="txtInsurancePercentageAmt_@item.UId" type="text"/>
                            </td>

                                
                            <td class="GSTSlab_@item.UId">

                                @*@Html.DropDownList("GSTSlab", new List<SelectListItem>() { new SelectListItem() { Text = "", Value = "" } }, "Select", htmlAttributes: new { @id = "ddlGSTSlabs_" + @item.UId, @class = "gst-slab-ddl form-control", @data_gstval = @item.UId })*@

                                 @Html.DropDownList("GSTSlab", (IEnumerable<SelectListItem>)ViewBag.GST, "Select GST",htmlAttributes: new { @id = "ddlGSTSlabs_" + @item.UId, @data_gstval = @item.UId, @class = "gst-slab-ddl form-control" })
                            </td>

                            
                            <td class="CGSTPer_@item.UId GST_Col">

                                <input id="txtCGSTPerctg_@item.UId" type="text" />
                            </td>

                            <td class="SGSTOrUTGSTPer_@item.UId GST_Col">

                                <input id="txtSGSTOrUTGSTPerctg_@item.UId" type="text"  />
                            </td>

                            <td class="IGSTPer_@item.UId IGST_Col">

                                <input id="txtIGSTPerctg_@item.UId" type="text" />
                            </td>


                            

                            <td class="CGSTPerAmtValue_@item.UId GST_Col">

                                <input id="txtCGSTPerAmtValue_@item.UId" type="text" />
                            </td>



                            <td class="SGSTOrUTGSTPerAmtValue_@item.UId GST_Col">

                                <input id="txtSGSTOrUTGSTPerAmtValue_@item.UId" type="text" />
                            </td>


                            <td class="IGSTPerAmtValue_@item.UId IGST_Col">

                                <input id="txtIGSTPerAmtValue_@item.UId" type="text" />
                            </td>

                            <td class=TotalGSTAmtValue_@item.UId>

                                <input id="txtTotalGSTAmtValue_@item.UId" type="text" />
                            </td>

                            <td class="TotalGrossAmtValue_@item.UId hide">

                                <input id="txtTotalGrossAmtValue_@item.UId" class="gamtwotcs" type="text" />
                            </td>

                            <td>

                            @*<select class="dll_TCS">
                                <option value="0">Select TCS</option>
                                <option value="0.075">TCS 0.075%</option>
                                <option value="0.1">TCS 0.1%</option>
                                <option value="0">Not Available</option>
                            </select>*@


                                @Html.DropDownList("dllTCS", (IEnumerable<SelectListItem>)ViewBag.TCS, "Select TCS", htmlAttributes: new { @id = "dllTCS", @class = "form-control dll_TCS" })
                              </td>

                            <td>
                                <input type="text" class="tcs_amt" />
                            </td>

                            <td>
                                <input type="text" class="gross_amt" />
                            </td>

                        </tr>


                        <tr>
                            <td colspan="11">



                                <input type="button" value="Calculate" class="itemwise_cal  btn btn-info btn-block btn-sm" id="btn_cal_itemwise_@item.UId" data-btnautoidbind="@item.UId" />

                            </td>
                        </tr>

                    </table>

                    
                   </div>
                </div>
            </div>
         </div> 
    }
</div>


<script>
$(function() {
    $('.navbar-fixed-top').height($("#nav").height());

    $('.fxm').affix({
        offset: { top: $('.fxm').offset().top }
    });
    //$('.fxm').width($("#webgrid").width());

});
</script>