
@model MMS_P.ViewModels.PurchaseIRNew


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style type="text/css">
    #dvLoading {
        background: #000 url(../../Images/36.gif) no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }

    td {
        padding: inherit 2px;
    }

        td input {
            width: 80px;
            font-size: 11px !important;
        }
</style>
<script>

    $(window).load(function () {
        $('#dvLoading').fadeOut(2000);
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {






        $("td[class^='Amount_").each(function () {


            var str = $(this).attr('class');
            var a = str.substring(7);
            var kk = $(".aprvdqty_" + a);
            var Apprvqty = $("#aprvdqty_" + a).val();

            var Rate = $("#hdrate_" + a).val();
            if (Rate != null && Apprvqty != null) {
                var temp = Apprvqty * Rate;
                var Amount = temp.toFixed(2);

                $("#lblamt_" + a).text(temp.toFixed(2));

                //$("#hdTotamt_" + a).val() = temp.toFixed(2);
                TotalSum(temp.toFixed(2));
            }



        })

        function TotalSum(x)
        {
            var T = 0;
            $("td[class^='Amount_").each(function () {
                var str = $(this).attr('class');
                var a = str.substring(7);
                //if ($(this).find('input').val() != null) {
                //    var A = $(this).find('input').val() lblamt_
                //    T = +T + +A;
                //}

                if (x != null)
                {


                    T = +T + +x;
                }
            });

            $("#lblTotalValue").text(T.toFixed(2));
        }

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $(".Detail_of_pur_emarkDialog").on("click", function (e) {
            debugger;
            var url = $(this).attr('href');
            $("#Detail-Piremarks-po").dialog({
                title: 'Remarks Details',
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 550,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");

                    }
                },
                close: function (event, ui) {
                    $("#Detail-Piremarks-po").dialog('close');
                    //window.location.href = url;
                }
            });

            $("#Detail-Piremarks-po").dialog('open');
           // $("#dialog-edit").dialog('close');
            return false;
        });

        $("#btncancel").on("click", function (e) {
            $("#Detail-Piremarks-po").dialog('close');

        });
    });
</script>


<script>
    function GetPur_remarkDataOnPO() {
        debugger; alert("kll");
        //var url = "/FloorMasters/Grid/";
        var url = '@Url.Action("GetRemarks", "IndentPurchaseOrders")';

        $.ajax({
            url: url,
            type: 'GET',
            data: { Status: $('#text_1').val() },
            complete: function () {
                $('#progress').hide();
            },
            success: function (result) {

                $('#formbody').html(result);
            }
        });
        return false;
    }

</script>




<section id="content_wrapper">
    <section id="content" class="table-layout animated fadeIn">
        <div class="tray tray-center">
            <div >
                <div class="admin-form">
                    <div class="panel heading-border">
                        <div class="panel-body bg-light">
                            <div class="section-divider mb40" id="spy1">
                                <span>
                                    Purchase Indent  Detail @*Created By @Model.Master.CreatedByName  </span>*@
                                    @*for @Model.MasterNew.SendToName  and Date is @Html.DisplayFor(model => model.MasterNew.Date2)*@
                                </span>
                            </div>

                            <p>

                                <input type="hidden" id="hdnTypeSelect" value=@ViewBag.TypeSelect />
                                <input type="hidden" value="@ViewBag.PurchaseTypeId" id="purchadeid" />
                            </p>


                            <div class="table-responsive">
                                <table class="table">
                                    <tr><td class="MasterId" colspan="10" muid=@Model.MasterNew.UId> </td>   </tr>
                                    <tr>
                                        <th>@Html.DisplayName("Project Name:")</th>
                                        <th>@Html.DisplayName("Purchase Indent No:")</th>
                                        <th>@Html.DisplayName("PIC Purchase Limit Value :")</th>
                                        <th>@Html.DisplayName("Purchase Indent Remarks :")</th>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayFor(model => model.MasterNew.ProjectName)</td>
                                        <td>@Html.DisplayFor(model => model.MasterNew.PurRequisitionNo)</td>
                                        <td><label id="lblprojectValue">@ViewBag.LastLimitVal</label></td>
                                        <td>@Html.ActionLink("Click here to see detail", "GetRemarks", new { PI = ((string)Model.MasterNew.PurRequisitionNo).Replace("/", "#") }, new { @class = "Detail-Piremarks-po", @id = "text_1", @onchange = "javascript:GetPur_remarkDataOnPO(this.value);", @style = "color:#497bf9" })</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayName("Purchase Indent Date:")</th>
                                        <th>@Html.DisplayName("Purchase Type:")</th>
                                        <th>@Html.DisplayName("Purchase Created By:")</th>
                                        <th></th>
                                    </tr>
                                    <tr>

                                        <td>@Html.DisplayFor(model => model.MasterNew.Date, "{0:dd/MM/yyyy}")</td>
                                        <td>@ViewBag.FinalPurchaseType</td>
                                        <td>@Html.DisplayFor(model => model.MasterNew.CreatedByName)</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                @if (Model.ChildNew.Count != 0)
                                {
                                    <table class="table table-hover" id="gridPurRewD">
                                        <tr class="primary">
                                            <th>
                                                @Html.DisplayName("SrNo.")
                                            </th>
                                            <th style="white-space:nowrap">
                                                @Html.DisplayName("Group Name")
                                            </th>
                                            <th style="white-space:nowrap">
                                                @Html.DisplayName("Item Name")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Unit")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Demand Qty")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Approve Qty")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Rate")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Current Value")
                                            </th>

                                        </tr>

                                        @foreach (var item in Model.ChildNew)
                                        {
                                            var a = @item.UId;
                                            var It = @item.ItemNo;



                                            <tr id=@a style="font-size:11px;">
                                                <td class=SrNo_@a uid=@a it=@It>
                                                    @Html.DisplayFor(modelItem => item.SNo)
                                                </td>
                                                <td class=Group_@a>
                                                    @Html.DisplayFor(modelItem => item.ItemGroupName)
                                                    @Html.HiddenFor(modelItem => item.ItemGroupNo)
                                                </td>
                                                <td class=Item_@a>
                                                    @Html.DisplayFor(modelItem => item.ItemName)
                                                    @Html.HiddenFor(modelItem => item.ItemNo)
                                                </td>
                                                <td class=Unit_@a>
                                                    @Html.DisplayFor(modelItem => item.Unit)
                                                    @Html.HiddenFor(modelItem => item.UnitNo)
                                                </td>
                                                <td>
                                                    <span id=DemandQty_@a>
                                                        @Html.DisplayFor(modelItem => item.DemandQty)

                                                    </span>
                                                </td>
                                                <td>

                                                    <span id=ApprovedQty_@a>
                                                        @Html.DisplayFor(modelItem => item.ApprovedQty)
                                                        <input type="hidden" value="@item.ApprovedQty" id="aprvdqty_@a" />
                                                    </span>
                                                </td>

                                                <td class="Rate_@a">
                                                    @Html.DisplayFor(modelItem => item.CurrentRate)
                                                    <input type="hidden" value="@item.CurrentRate" id="hdrate_@a" />
                                                </td>
                                                <td class="Amount_@a">
                                                    <label id="lblamt_@a" />

                                                </td>
                                            </tr>
                                        }

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            <td></td>
                                            <td><b>Total*  </b></td>
                                            <td><label id="lblTotalValue"></label></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                }
                            </div>

                            <br />





                            <br />

                            <div class="section-divider mt40 mb25" id="spy5">
                                <span></span>
                            </div>



                        </div>


                        <div id="dialog-edit-Purchase_On_PO" style="display: none">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>




