@{
    
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";
    }

    Layout = layout;

    ViewBag.Title = "CreatePO_GST";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model, canPage: false);
    var Date = (DateTime)ViewBag.Date;
}


<style type="text/css">
    #dvLoading {
        background: #000 url(../../Images/Loading.gif) no-repeat center center;
        height: 64px;
        width: 64px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -16px 0 0 -16px;
    }
</style>
<style>
    .Piv1 {
        display: normal;
    }

    .Piv2 {
        display: none;
    }
</style>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    var ss = @Html.Raw(Json.Encode(ViewBag.EmpId));
    var GetProjectByEmpId = '@Url.Action("GetProjectByEmpId", "IndentPurchaseOrders")';
    var GetGTC = '@Url.Action("View_GTCData", "IndentPurchaseOrders")';
    var GetSIDetail= '@Url.Action("View_SIData", "IndentPurchaseOrders")';
     var GetSTCDetail =  '@Url.Action("View_STCData", "IndentPurchaseOrders")';
    var GetPu_OnPodetailGST= '@Url.Action("GetDetailOnPOGST", "IndentPurchaseOrders")'; // check changes
    var Grid_GST = '@Url.Action("Grid_GST", "IndentPurchaseOrders")';
    var GetProjectAddressOnGST= '@Url.Action("GetProjectAdress", "IndentPurchaseOrders")';
    var GetEmployeeContatOnGST= '@Url.Action("GetEmployeeContact", "IndentPurchaseOrders")'
    var BindGSTOnGRidItem = '@Url.Action("GetAllGSTType", "IndentPurchaseOrders")'
    var Add_PO_GST = '@Url.Action("ADD_GSTPO", "IndentPurchaseOrders")';
   // var GetProjectPurchaseOrderNo ='@Url.Action("GetProjectPurchaseOrderNo", "IndentPurchaseOrders")';


    var GetVendorByGroup = '@Url.Action("GetVendorByGroup", "IndentPurchaseOrders")';
    var GetVendorDetail = '@Url.Action("GetVendorDetail", "IndentPurchaseOrders")';

    var logoutUrl = '@Url.Action("Index", "View_PO_Details_ByUser_Created_GST")';
    var GetBindEmployeeData ='@Url.Action("GetForwardEmployeeType", "IndentPurchaseOrders")';
    var BindPurchaseOnly = '@Url.Action("GetPurchaseEmployeOnly", "IndentPurchaseOrders")';

</script>

<style>
    .nav-tabs.nav-tabs-border > li.active > a {
        border-top: 2px solid #4a89dc;
        margin-top: -1px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background: #ffffff none repeat scroll 0 0;
        color: #555555;
        cursor: default;
    }

    .nav-tabs-left > li > a {
        border-left: 1px solid transparent;
        border-right: 1px solid #ddd;
    }

    .nav-tabs > li > a {
        border-left: 1px solid #ddd;
        border-radius: 0;
        color: #777;
        font-size: 12px;
        line-height: 18px;
        padding: 10px 18px;
    }

    .tab-content .tab-pane {
        padding: 20px 0;
    }
</style>

<script src="~/Script/CreatePOGST.js"></script>


<section id="content_wrapper">
    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">
                    <!-- Begin: Content Header -->
                    <!-- Begin: Admin Form -->
                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">Generate Purchase Order</span>
                                </div>
                                <!-- .section-divider -->
                                <!-- Basic Inputs -->
                                @*<p>
                                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
                                    </p>*@
                                <!-- Input Icons -->



                                <div class="panel">
                                    <div class="panel-heading">


                                        <div class="container tabs-wrap">
                                            @*<div class="panel-heading"><span class="panel-title"><span class="glyphicon glyphicon-hand-down"></span>Well Tabs</span></div>*@
                                            <div class="container tabs-wrap">
                                                <ul class="nav nav-tabs nav-tabs-border" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#indentorder" aria-controls="indentorder" role="tab" data-toggle="tab" aria-expanded="true">Purchase Order</a>
                                                    </li>
                                                    <li>
                                                        <a href="#deliverydetails" aria-controls="deliverydetails" role="tab" data-toggle="tab" aria-expanded="false">Delivery Details</a>
                                                    </li>
                                                    <li>
                                                        <a href="#billing" aria-controls="billing" role="tab" data-toggle="tab" aria-expanded="false">Specific Terms & Conditions</a>
                                                    </li>
                                                    <li>
                                                        <a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab" aria-expanded="false">Specific Instructions</a>
                                                    </li>
                                                    <li>
                                                        <a href="#review" aria-controls="review" role="tab" data-toggle="tab" aria-expanded="false">General Terms & Conditions</a>
                                                    </li>
                                                </ul>

                                                <div class="panel-body">
                                                    <div class="tab-content pn br-n">
                                                        <div role="tabpanel" class="tab-pane active" id="indentorder">

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    @*@using (Html.BeginForm())
                                                                        {*@
                                                                    @Html.AntiForgeryToken()

                                                                    <div class="form-horizontal">

                                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="section">
                                                                                    <label class="field prepend-icon">
                                                                                        <span style="font:bold" id="dateTime"></span>

                                                                                    </label>
                                                                                    <input type="hidden" value="@ViewBag.PI_reqNo" id="hdn_PurreqNo" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <span>PO Limit : @ViewBag.POLimit</span> <input type="hidden" value="@ViewBag.POLimit" id="hdn_poLimitval" />
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="table-responsive">
                                                                                    <table class="table">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <td class="col-md-3"><span><b> Project Name and Full Address :</b> </span></td>
                                                                                                <td class="col-md-3"><span>Purchase Indent No. :</span> </td>
                                                                                                <td class="col-md-3"><span>Purchase Indent Date</span> </td>
                                                                                                <td class="col-md-3"><span>Quotation Ref.</span> </td>

                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="col-md-3"><label id="lblprojctnmWithaddd"></label></td>
                                                                                                <td class="col-md-3">
                                                                                                    <label id="lblPurch_indentno"></label>
                                                                                                    (<span><u> @Html.ActionLink("Detail", "PurchaseReqViewDetail", "PurchaseRequisition", new { id = ViewBag.Purchase_id }, new { target = "_blank", @style = "color:#497bf9" }) </u></span>)

                                                                                                    <input type="hidden" id="hdn_Purchase_Indent_detail" /> <input type="hidden" id="hdn_purch_indent_no_ber" />
                                                                                                </td>
                                                                                                <td class="col-md-3"><label id="lbl_pur_indentdate"></label><input type="hidden" id="hdn_purchase_project_Id" /> </td>
                                                                                                <td class="col-md-3">
                                                                                                    <label id="lbl_purIndent_QuotrefNo"></label><input type="hidden" id="Quot_ion_refId" />
                                                                                                    (<span><u>@Html.ActionLink("Detail", "ViewQuotDetail", "Quotation", new { Id = ViewBag.QuotID }, new { target = "_blank", @style = "color:#497bf9" })</u></span>)
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <td class="col-md-3"><span><b> Purchase Indent Delivery Date :</b> </span></td>
                                                                                                <td class="col-md-3"><span><label id="lbl_pur_indentDelivery_date"></label></span></td>
                                                                                                <td class="col-md-3"><span><b> Purchase Status :</b> </span></td>
                                                                                                <td class="col-md-3"><span><label id="lbl_pur_chase_status"></label></span> </td>

                                                                                            </tr>

                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="col-md-3"></td>
                                                                                                <td class="col-md-3"> </td>
                                                                                                <td class="col-md-3"></td>
                                                                                                <td class="col-md-3"> </td>

                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="table-responsive">
                                                                                    <table class="table">
                                                                                        <thead>
                                                                                            <tr>

                                                                                                <td class="col-md-6">PO No :</td>
                                                                                                <td class="col-md-6">PO Date:</td>


                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>

                                                                                                <td class="col-md-6">

                                                                                                    <label class="field prepend-icon">
                                                                                                        @Html.TextBox("PurchaseOrderNo", null, new { id = "PurchaseOrderNo", @class = "form-control gui-input required", @placeholder = "Order No.", @readonly = "readonly" })

                                                                                                        <label for="firstname" class="field-icon">
                                                                                                            <i class="fa fa-building"></i>
                                                                                                        </label>
                                                                                                    </label>

                                                                                                </td>

                                                                                                <td class="col-md-6">

                                                                                                    <label class="field prepend-icon">
                                                                                                        @Html.TextBox("Date", string.Format("{0:dd MMM yyy}", Date), new { @class = "DatePicker form-control", @id = "Date", @placeholder = "Order Date" })
                                                                                                        <label for="RefNo" class="field-icon">
                                                                                                            <i class="fa fa-calendar"></i>
                                                                                                        </label>
                                                                                                    </label>

                                                                                                </td>


                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>



                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="table-responsive">
                                                                                    <table class="table">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <td class="col-md-6">
                                                                                                    Vendor Group :
                                                                                                </td>
                                                                                                <td class="col-md-6">Vendor Name</td>

                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="col-md-6">
                                                                                                    <div class="section">
                                                                                                        <label class="field select">
                                                                                                            @Html.DropDownList("VGId", null, "Select Vendor Group", htmlAttributes: new { @id = "VGID", @class = "form-control" })

                                                                                                            <i class="arrow"></i>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td class="col-md-6">
                                                                                                    <div class="section">
                                                                                                        <label class="field select">

                                                                                                            @Html.DropDownList("VNAME", new List<SelectListItem>() { new SelectListItem() { Text = "", Value = "" } }, "Select Vendor", htmlAttributes: new { @id = "VNAME", @class = "form-control" })
                                                                                                            @*<select id="ddlBlock" name="BlockId" style="width: 250px" onchange="javascript:GetFloor(this.value);"></select>*@
                                                                                                            <i class="arrow"></i>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </td>

                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row" id="pnl_toggel_vendor-detail" style="display:none">
                                                                            <div class="col-md-12">
                                                                                <div class="table-responsive">
                                                                                    <table class="table">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <td class="col-md-3"><span><b> Vendor Address :</b> </span></td>
                                                                                                <td class="col-md-3"><span>Vendor TIN / GST :</span> </td>
                                                                                                <td class="col-md-3"><span>Vendor Aadhaar :</span> </td>
                                                                                                <td class="col-md-3"><span>Contact Person :</span> </td>

                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="col-md-3"><label id="lbl_vendor_address"></label> <br /> <label id="lbl_vendorCountry"></label>  , <label id="lbl_vendor_state"></label> , <label id="lbl_vendor_City"></label> <br /> PIN : <label id="lbl_vendor_PinNo"></label> </td>
                                                                                                <td class="col-md-3">  <label id="lbl_vendor_TinNO"></label> / <br /><label id="lbl_vendor_GSTNO"></label>  </td>
                                                                                                <td class="col-md-3"><label id="lbl_vendor_AadhaarNo"></label></td>
                                                                                                <td class="col-md-3"><label id="lbl_Vendor_CP_name"></label> , Mob: <label id="lbl_Vendor_CP_Mobile"></label> <br /> Phone: <label id="lbl_vendor_CP_Phone"></label> <br /> Email : <u><a href="#" id="lbl_vendor_CP_Email" target="_top"></a></u></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="table-responsive">
                                                                                    <table class="table">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    Reference :
                                                                                                </td>

                                                                                            </tr>
                                                                                        </thead>

                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    @Html.TextArea("Reference", null, new { @id = "Reference1", @placeholder = "Reference", @class = "form-control" })

                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <br />

                                                                        @*<div class="row">
                                                                                <div class="col-md-6">

                                                                                </div>
                                                                                <div class="col-md-6" style="display:none">
                                                                                    <div class="section">
                                                                                        <label class="field prepend-icon">
                                                                                            @Html.TextBox("AcilTinNo", null, new { id = "AcilTinNo", @class = "form-control gui-input required", @placeholder = "Acil Tin No." })

                                                                                            <label for="firstname" class="field-icon">
                                                                                                <i class="fa fa-building"></i>
                                                                                            </label>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-md-3">
                                                                                    <div class="section">
                                                                                        <label class="field select">
                                                                                            @Html.DropDownList("Projects", new SelectList(string.Empty, "Value", "Text"), "Select Project", htmlAttributes: new { @id = "Projects", @class = "form-control" })
                                                                                            <i class="arrow"></i>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-md-3">

                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="section">
                                                                                        <label class="field prepend-icon">
                                                                                            @Html.TextBox("ProjectAddress", null, new { id = "ProjectAddress", @class = "form-control gui-input required", @readonly = "readonly", @placeholder = "Project Address" })

                                                                                            <label for="firstname" class="field-icon">
                                                                                                <i class="fa fa-building"></i>
                                                                                            </label>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">

                                                                                </div>



                                                                            </div>*@






                                                                    </div>
                                                                    @*}*@
                                                                </div>
                                                                <!--naveen-->
                                                                <div class="col-md-12">
                                                                    <div class="innerPanel-group" id="formbody">


                                                                    </div>
                                                                </div>
                                                                <!--naveen-->

                                                                <div class="col-md-12">

                                                                    <br />
                                                                    <div id="dvLoading"></div>
                                                                    <div id="#progress" style="display:none"><img src="~/Images/Loading.gif" /></div>

                                                                </div>

                                                                <div class="col-md-12">




                                                                    <div class="row">
                                                                        <div class="col-md-12">

                                                                            <div class="table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <td class="col-md-2"> Total Rate  </td>
                                                                                            <td class="col-md-2"> Sum Of Total  </td>
                                                                                            <td class="col-md-2"> Sum Of Packing Charges  </td>
                                                                                            <td class="col-md-2"> Sum of Cartage  </td>
                                                                                            <td class="col-md-2">Sum of Sub Total 1 </td>
                                                                                            <td class="col-md-2"> Sum of Insurance  </td>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="col-md-2"> @Html.TextBox("Total_Rate", null, new { id = "Total_Rate", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfTotal", null, new { id = "SumOfTotalVal", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfPacking", null, new { id = "SumOfPackingCharge", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfCartageAmt", null, new { id = "SumOfCartageAll1Amt", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfSubTotal1", null, new { id = "SumOfSubTotalAll1Amt", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfInsurance", null, new { id = "SumOfInsuranceAmt", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">

                                                                        <div class="col-md-12">

                                                                            <div class="table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <td class="col-md-2"> Sum of Sub Total 2  </td>
                                                                                            <td class="col-md-2"> Sum Of CGST  </td>
                                                                                            <td class="col-md-2"> Sum Of SGST/UTGST  </td>
                                                                                            <td class="col-md-2"> Sum Of IGST </td>
                                                                                            <td class="col-md-2"> Sum of Total GST  </td>
                                                                                            <td class="col-md-2"> Sum of Gross Amount  </td>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfTotalSub2", null, new { id = "SumOf_total_Sub_2", @class = "form-control gui-input required", @readonly = "readonly" })</td>
                                                                                            <td class="col-md-2"> @Html.TextBox("Total_SumOf_CGST", null, new { id = "Total_SumOf_CGST", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfTotalSGST/UTGST", null, new { id = "SumOfSGSTAndUTGST_Amt", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfIGST", null, new { id = "SumOf_IGST_Amt", @class = "form-control gui-input required", @readonly = "readonly" })   </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfTotalGSTAmt", null, new { id = "SumOfAll_GST_amt", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                            <td class="col-md-2"> @Html.TextBox("SumOfAllGrossTotal", null, new { id = "SumOfAll_Gross_Total_amt", @class = "form-control gui-input required", @readonly = "readonly" }) </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>







                                                                    </div>





                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="section">
                                                                                <label class="field prepend-icon">
                                                                                    @Html.TextBox("Rupees", null, new { id = "Rupees", @class = "form-control gui-input required", @placeholder = "Amount in Word" })


                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6" style="display:none" id="po_pmcoutlimit">
                                                                            <label class="field select">
                                                                                @Html.DropDownList("Employee", null, "Forward For Approval", htmlAttributes: new { @id = "Employee", @class = "form-control" })

                                                                                @*@Html.DropDownList("Employee", new SelectList(string.Empty, "Value", "Text"), "Forward For Approval", htmlAttributes: new { @id = "Employee", @class = "form-control" })*@


                                                                                <i class="arrow"></i>
                                                                            </label>

                                                                        </div>
                                                                        <div class="col-md-6" id="po_purinlimit">
                                                                            <label class="field select">
                                                                                @Html.DropDownList("PMCEmployee", null, "Forward For Approval", htmlAttributes: new { @id = "PMCEmployee", @class = "form-control" })

                                                                                @*@Html.DropDownList("PMCEmployee", new SelectList(string.Empty, "Value", "Text"), "Forward For Approval", htmlAttributes: new { @id = "PMCEmployee", @class = "form-control" })*@


                                                                                <i class="arrow"></i>
                                                                            </label>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="section">
                                                                                <label class="field prepend-icon">
                                                                                    @Html.TextArea("Remarks", null, new { id = "PORemarks", @class = "form-control gui-input required", @placeholder = "Remarks" })
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>






                                                                </div>
                                                                <div class="col-md-12">
                                                                    @*<input  type="button" value="test" id="test_myval_nowtst" />*@

                                                                    <input type="button" class="btn btn-danger" value="Calculate" onclick="RateSum()" />
                                                                    <a class="btn btn-primary continue">Next >></a>
                                                                    @*<input type="button" name="sr1" value="Click Here" onClick="testSkill()" />*@
                                                                    <div style="visibility:hidden;" id="container"></div>
                                                                    @*@Html.ActionLink("Print PO Slip", "Index", "Print_PO_Slip", null, new { @class = "btn btn-system" })*@
                                                                </div>


                                                                @*<div id="myModal" class="modal fade">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                                                                    <h4 class="modal-title">Confirmation</h4>
                                                                                </div>
                                                                                <div class="modal-body">

                                                                                    <p class="text-danger">Data Save Successfully</p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>*@

                                                                <div class="section-divider mt40 mb25" id="spy5">
                                                                    <span></span>
                                                                </div>

                                                                <!-- end .section row section -->
                                                                <!-- end .form-footer section -->


                                                                <div id="dialog-myonPO" style="display: none">
                                                                </div>




                                                            </div>


                                                        </div>

                                                        <div role="tabpanel" class="tab-pane" id="deliverydetails">

                                                            <div class="row">
                                                                <div class="col-md-12">

                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="section">
                                                                                        <label class="field select">
                                                                                            @Html.DropDownList("prjtidsssss", null, "Select Project", htmlAttributes: new { @id = "prjtid1", @class = "form-control" })
                                                                                            <i class="arrow"></i>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="section">
                                                                                        <label class="field select">
                                                                                            @Html.DropDownList("DeleryPurchseEmp", new List<SelectListItem>() { new SelectListItem() { Text = "", Value = "" } }, "Select Contact Person Name", htmlAttributes: new { @id = "ddlPurchaseEmployePerson", @class = "form-control" })

                                                                                            <i class="arrow"></i>
                                                                                        </label>
                                                                                    </div>



                                                                                    @*@Html.TextBox("Delivery_Address", null, new { id = "Delivery_Address1", @class = "form-control gui-input", @placeholder = "Delivery Address", @readonly = "readonly" })*@
                                                                                </div>


                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">

                                                                                    @Html.TextBox("contact_Person_Mobile", null, new { id = "contact_Person_Mobile1", @class = "form-control gui-input", @placeholder = "Contact Number", @readonly = "readonly" })


                                                                                </div>


                                                                            </div>
                                                                            <br />
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    @*@Html.TextArea("contact_Person_Info", null, new { id = "contact_Person_Info1", @class = "form-control gui-input", @placeholder = "Contact Person Name", @readonly = "readonly" })*@
                                                                                    @Html.TextArea("Delivery_Address", null, new { id = "Delivery_Address1", @class = "form-control gui-input", @placeholder = "Delivery Address", @Styles = "height:60px;" })

                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    @Html.TextArea("Billing_Address", null, new { id = "Billing_Address1", @class = "form-control gui-input", @placeholder = "Billing Address", @Styles = "height:60px;" })
                                                                                </div>

                                                                            </div>
                                                                            <br />
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    @Html.TextArea("Delivery_Schedule", null, new { id = "Delivery_Schedule1", @class = "form-control", @placeholder = "Enter Delivery Schedule", Styles = "height:40px;" })
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <!-- end .form-body section -->

                                                                </div>

                                                            </div>


                                                            <a class="btn btn-primary back"><< Back</a>
                                                            @*<input type="button" id="Submit" class="btn btn-danger" value="Submit" />*@
                                                            <a class="btn btn-primary continue">Next >></a>
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane" id="billing">

                                                            <div class="row">
                                                                <div class="col-md-12">

                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="" id="STC_DatasLoad">
                                                                                <div id="progress">
                                                                                    <img src="~/Images/Loading.gif" alt="Loading" id="imgLoading1" class="Load" />
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                    <!-- end .form-body section -->

                                                                </div>

                                                            </div>


                                                            <a class="btn btn-primary back"><< Back</a>
                                                            @*<input type="button" id="Submit" class="btn btn-danger" value="Submit" />*@
                                                            <a class="btn btn-primary continue">Next >></a>
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane" id="shipping">
                                                            <div class="row">
                                                                <div class="col-md-12">

                                                                    <div class="row">

                                                                        <div class="col-md-12">
                                                                            <div class="" id="Si_DatasLoad">
                                                                                <div id="progress">
                                                                                    <img src="~/Images/Loading.gif" alt="Loading" id="imgLoading1" class="Load" />
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                    <!-- end .form-body section -->

                                                                </div>

                                                            </div>
                                                            <a class="btn btn-primary back"><< Back</a>
                                                            @*<input type="button" id="Submit2" class="btn btn-danger" value="Submit" />*@
                                                            <a class="btn btn-primary continue">Next >></a>
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane" id="review">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="" id="Gtc_DatasLoad">
                                                                                <div id="progress">
                                                                                    <img src="~/Images/Loading.gif" alt="Loading" id="imgLoading1" class="Load" />
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <!-- end .form-body section -->
                                                                </div>
                                                            </div>
                                                            <a class="btn btn-primary back"><< Back</a>
                                                            <input type="button" id="btnsave" class="btn btn-danger" value="Submit" />

                                                            @*<input type="button" id="Submit3" class="btn btn-danger" value="Submit" />*@
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
        <!-- end: .tray-center -->
        <!-- begin: .tray-right -->
        <!-- end: .tray-right -->

    </section>
    <!-- End: Content -->
</section>