
@model MMS_P.ViewModels.GridGRN_TransferItemList
@{
    ViewBag.Title = "Index";
    Layout = null;

}

<style>
    .aas {
        background-color: #4A89DC;
        color: white;
        cursor: crosshair;
    }

    /*Here we will add css for style webgrid*/
    .webgrid-table {
        font-family: "Courier New", Courier, monospace;
        background: #fff none repeat scroll 0 0;
        border: 1px solid #167f92;
        border-radius: 10px;
        color: #024457;
        margin: 1em 0;
        overflow: hidden;
        width: 100%;
        background-color: white;
        font-size: 1.1em;
        font-weight: bold;
    }

        .webgrid-table td, th {
            border: 1px solid #d9e4e6;
            padding: 3px 7px 2px;
        }

        .webgrid-table th, a {
            color: white;
        }



    .webgrid-header {
        background-color: #497bf9;
        color: #FFFFFF;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
        cursor: crosshair;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }

    .webgrid th:first-child {
        display: table-cell;
        text-align: center;
    }

    .webgrid th:nth-child(2) {
        display: table-cell;
    }

        .webgrid th:nth-child(2) span {
            display: none;
        }

        .webgrid th:nth-child(2)::after {
            content: attr(data-th);
        }

    .webgrid tr:nth-child(2n+1) {
        background-color: #eaf3f3;
    }

    .webgrid th {
        background-color: #167f92;
        border: 1px solid #fff;
        color: #fff;
        display: none;
        padding: 1em;
    }

        .webgrid th:first-child {
            display: table-cell;
            text-align: center;
        }

    /* for textbox webgrid*/

    input[type="text"] {
        width: 70px;
        font-weight: bold;
    }

    input[id="Date"] {
        width: 400px;
        font-weight: bold;
    }

    input[id="ChallanDate"] {
        width: 300px;
        font-weight: bold;
    }
</style>

@if (ViewBag.IsEdit != null)
{
    <input type="hidden" id="hdnIsEdit" value="true" />
    <script>
        $('#GateEntryNo').attr('disabled', 'disabled');
        $('#Date').attr('disabled', 'disabled');
    </script>
}

<table class="table table-hover" id="grid">
    @*<tr><td class="Ven" colspan="10" vid=@Model.VendorNo> @Model.Vendor</td>   </tr>*@
    <tr class="primary">


        <th>
            @Html.DisplayName("SrNo.")
        </th>
        <th>
            @Html.DisplayName("Group Name")
        </th>
        <th>
            @Html.DisplayName("Item Name")
        </th>
        <th>
            @Html.DisplayName("Unit")
        </th>
        
        <th>
            @*@Html.DisplayName("Gate Out No.")*@
            Gate Out No.
        </th>

        <th>
            @Html.DisplayName("Gate out date ")
        </th>

        <th>
            @Html.DisplayName("Qty")
        </th>
        <th>
            @Html.DisplayName("Gate Receive Qty")
        </th>
        <th>
            @Html.DisplayName("Store Receive Qty")
        </th>
        <th>
            @Html.DisplayName("Current-Receive")
        </th>
        @*<th>
                @Html.DisplayName("Receive In Ton")
            </th>
            <th>
                @Html.DisplayName("Receive In CFT")
            </th>*@

    </tr>

    @foreach (var item in Model.Child)
    {
        //var a = item.
        var It = @item.Item_id;
        var Igd = @item.Itemgrp_Id;
        var Untid = @item.UnitId;
        var Rate = @item.Rate;
        var a = @item.Id;
        var chid = @item.Ch_TransId;
        <tr id=@a>

            <td class=SrNo_@a ipouid=@chid it=@It uid="" muid="" rate=@Rate  untid=@Untid Igd=@Igd GCID="@item.GateEntryChildID" >
                @(a++)
            </td>
            <td class=Group_@a>
                @Html.DisplayFor(modelitem=>item.Itemgrp_Name)
            </td>
            <td class=Item_@a>
                @Html.DisplayFor(modelItem => item.Item_name)
            </td>
            <td class=Unit_@a>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>

            
            <td class=Indent_@a>
                @Html.DisplayFor(modelItem => item.GetOutNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetOutDate)
            </td>
          
            <td>
                <span class="checkVal" id=Qty_@a>
                    @Html.TextBoxFor(modelItem => item.Qunatity, new { disabled = "disabled", @readonly = "readonly" })
                </span>
            </td>
            <td class="checkVal" id=GateReceive_@a>
                @Html.TextBoxFor(modelItem => item.GateReceivedQty, new { disabled = "disabled", @readonly = "readonly", @placeholder = "0.000" })
            </td>
            <td>
                <span class="checkVal" id=PReceive_@a>
                    @Html.TextBoxFor(modelItem => item.StoreReceive, new { disabled = "disabled", @readonly = "readonly", @placeholder = "0.000" })
                </span>
            </td>
            <td class=Receive_@a>
                <input type="text" id="Receive_@a"/>
            </td>



        </tr>
    }

</table>
