@{
    ViewBag.Title = "Create";
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";
    }

    Layout = layout;
    WebGrid grid = new WebGrid(source: Model, canPage: false);
    var Date = (DateTime)ViewBag.Date;
}


<style type="text/css">
    #dvLoading {
        background: #000 url(../../Images/36.gif) no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
    .Piv1 {
        display: normal;
    }

    .Piv2 {
        display: none;
    }

    @@media screen and (min-width: 768px) {
        .modal-dialog {
          width: 700px; /* New width for default modal */
        }
        .modal-sm {
          width: 350px; /* New width for small modal */
        }
    }
    @@media screen and (min-width: 992px) {
        .modal-lg {
          width:1100px; /* New width for large modal */
        }
    }


</style>


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    var ss = @Html.Raw(Json.Encode(ViewBag.EmpId));
    var tType='@TempData["Type"]';
    // var GetProjectGateEntryNo ='@Url.Action("GetProjectGateEntryNo", "GateEntries")';
    //  var GetStatusTypeNo ='@Url.Action("GetStatusTypeNo", "GateEntries")';

    var GetDetail = '@Url.Action("GetDetailOnGateEntryPage", "GateEntries")';

    var Grid = '@Url.Action("GridTest", "GateEntries")';
    var AddM_UpC= '@Url.Action("AddM_UpC", "GateEntries")';
    var redirectUrl = '@Url.Action("Index", "GateEntryListClassification")';



    function putGetRecvdisable() {
        document.getElementById('btnsave').setAttribute("disabled", "disabled");
    }

    var GetGRNNoDateWise  =  '@Url.Action("GetGRNNoByDateWise", "GateEntries")';

</script>


@section scripts{
<script type="text/javascript">
    $(document).ready(function() {
       
        $(document).on('click', '#txtPONumber1', function () {
                var poNo = $(this).text();
                $('#loading').show();
                $('#modalBody').html('');
                $.ajax({
                    url: '@Url.Action("GetPO_details", "View_Print_Slip_Approval")',
                    data: { Id: poNo },
                    success: function (response) {
                        $('#modalBody').html(response);
                        $('#myModal1').modal();
                        $('#loading').hide();
                    }
                });
            });


        var timer;
        $(function(){
            $('#dateTime').html(getDateTime());

            // Do a $.ajax call and update start time in your database

            timer = setTimeout(function(){
                update();
            }, 1000);

        });

        function update() {
            $('#dateTime').html(getDateTime());

            timer = setTimeout(function(){
                update();
            }, 1000);
        }

        function getDateTime(){
            var currentdate = new Date();
            var datetime = "Current Time: "
                        + currentdate.getHours() + ":"
                        + currentdate.getMinutes() + ":"
                        + currentdate.getSeconds();
            return datetime;
        }


        $(".DatePicker").datepicker({
            dateFormat: 'dd M yy',
            changeMonth: true,
            changeYear: true,
            value: "",
            maxDate: new Date()
        });


        $("#Date").val('');


        $.ajax({
            type: 'POST',
            url: GetDetail, // Calling json method

            dataType: 'json',

            data: { PurchaseOrder: $("#hdn_PO_No").val() },


            success: function (obj) {
                obj = $.parseJSON(obj)



                $("#txtProjectName").val(obj.ProjName);
               // $("#GateEntryNo").val(obj.GateEntryNo);
                $("#txtStatus").val(obj.PurchaseType);
                $("#txtPONumber").val(obj.PONo);
               GetLoadChilddetail(obj.PurchaseType);
            },
            complete: function () {
                $('#dvLoading').hide();
            },
            error: function (ex) {
                 alert('Failed to retrieve Project Code.' + ex);
            }
        });

        $('#btnsave').click(function (e)
        {
            debugger;
            if($('#ChallanNo').val()==''){
                alert('Please enter challan no.');
                $('#btnsave').removeAttr('disabled','disabled');
                return false;
            }
            if($('#VehicleNo').val()==''){
                alert('Please enter Vehicle No.');
                $('#btnsave').removeAttr('disabled','disabled');
                return false;
            }

            debugger;
            var Valid=ValidMaster();
            if(Valid==false)
                return;

            @*if(Valid!=false){
                $.get('@Url.Action("IsBillNoDuplicate")',{BillNo:$('#ChallanNo').val()},function(response){
                    if(response.Status!="1"){
                        alert("Bill Number/Challan Number already exists.");
                        return false;
                    }
                    else{*@
                        var otArr = [];
                        var url = AddM_UpC;
                        if($("#txtStatus").val()=="Site Purchase" || $("#txtStatus").val()=="Mechanical Purchase" || $("#txtStatus").val()=="Plumbing Purchase" || $("#txtStatus").val()=="Electrical Purchase")
                        { debugger;
                            var values = LPToArray();
                            debugger;
                            Valid=values[0];
                            if(Valid==false)
                                return;
                            otArr=values[1];

                        }
                        else if($("#txtStatus").val()=="HO Purchase" || $("#txtStatus").val()=="RO Purchase")
                        {
                            debugger;
                            var values = IPOToArray();
                            Valid=values[0];
                            if(Valid==false)
                                return;
                            otArr=values[1];
                        }
                        else if($("#txtStatus").val()=="CASH Purchase" || $("#txtStatus").val()=="FOC Purchase" )
                        {
                            debugger;
                            var values = IPOToArray();
                            Valid=values[0];
                            if(Valid==false)
                                return;
                            otArr=values[1];
                        }
                        else if( $("#txtStatus").val()=='Manual Transfer Receive Purchase' ){
                            debugger;
                            var values = IPOToArray1();
                            Valid=values[0];
                            if(Valid==false)
                                return;
                            otArr=values[1];
                        }

                        else if ($("#txtStatus").val() == "Dispatch") {
                            var values = DispatchToArray();
                            Valid = values[0];
                            if (Valid == false)
                                return;
                            otArr = values[1];
                        }
                        else if ($("#txtStatus").val() == "Receive") {
                            var values = ReceiveToArray();
                            Valid = values[0];
                            if (Valid == false)
                                return;
                            otArr = values[1];
                        }
                        var obj1 = getMaster();
                        var data = {
                            'Child': otArr,
                            'Master': obj1
                        };
                        //console.log(data);

                        $('#dvLoading').show();
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json" ,
                            processdata: true,

                            success: function (json)
                            {  
                                if(json=="2")
                                {
                                    alert("Something went wrong!");
                                }
                                else if (json == "101")
                                {
                                    alert("GRN date must be less than purchase date.");
                                    $('#btnsave').removeAttr('disabled');
                                }
                                else
                                {
                                    $("#trans_num").text(json.TransNo);
                                    $("#myModal").modal('show');
                                  //  window.location.href = redirectUrl;
                                    //$("#Date").datepicker("setDate", "");
                                    $("#Time").prop('selectedIndex', 0);
                                    $("#txtProjectName").val('');

                                    $("#txtStatus").val('');
                                    $("#txtPONumber").val('');

                                    $('#formbody').html('');

                                    $("#GateEntryNo").val('');
                                    $("#ChallanNo").val('');
                                    $("#ChallanDate").datepicker("setDate", "");
                                    $("#VehicleNo").val('');

                                }
                            },

                            complete: function () {
                                $('#dvLoading').hide();
                            },

                            error: function ()
                            {
                                alert('Error in Submit Data');
                            }
                        });
            //        }
            //    });
            //}

            
        });


        function gridTojson() {
            var json = '{';
            var otArr = [];
            var tbl2 = $('#grid tbody tr').each(function (i) {
                if ($(this)[0].rowIndex != 0) {
                    x = $(this).children();
                    var itArr = [];
                    x.each(function () {
                        if ($(this).children('input').length > 0) {
                            itArr.push('"' + $(this).children('input').val() + '"');
                        }
                        else {
                            itArr.push('"' + $(this).text() + '"');
                        }
                    });
                    otArr.push('"' + i + '": [' + itArr.join(',') + ']');
                }
            })
            json += otArr.join(",") + '}'
            return json;
        }
        function LPToArray()
        {
            debugger;
            var otArr = [];
            var ValidChild=false;
            var tbl2 = $('#grid tbody tr').each(function (i)
            {
                debugger;
                var obj = new Object();


                if ($(this)[0].rowIndex != 0 && $(this)[0].rowIndex != 1)
                {
                    debugger;
                    x = $(this).children();
                    obj.ReceiveQty = $(this).children().eq(14).find('input').val();
                    if (obj.ReceiveQty != null && obj.ReceiveQty != 0) {
                        ValidChild = true;

                        obj.GateEntryNo = $("#GateEntryNo").val();

                        // obj.Status = $("#Status option:selected").val();
                        var st = $("#txtStatus").val();
                        if(st =="Site Purchase")
                        {
                            obj.Status = 'LP';
                        }
                        else if (st =="Electrical Purchase")
                        {
                            obj.Status = 'EP';
                        }
                        else if (st =="Plumbing Purchase")
                        {
                            obj.Status = 'PP';
                        }
                        else if (st =="Mechanical Purchase")
                        {
                            obj.Status = 'MP';
                        }
                        else if (st =="HO Purchase")
                        {
                            obj.Status = 'IPO';
                        }
                        else if (st == "FOC Purchase")
                        {
                            obj.Status = 'FC';
                        }
                        else if (st == "CASH Purchase"){
                            obj.Status = 'CH';
                        }
                        else{
                            obj.Status = null;
                        }
                        obj.StatusTypeId = $("#hdn_PO_ID").val();
                        obj.StatusTypeNo = $("#hdn_PO_No").val();
                        // UnitNo ItemGroupNo Added from controller
                        obj.ItemNo = $(this).children().eq(0).attr('it');
                        obj.Item = $(this).children().eq(2).text().trim();
                        obj.ItemGroup = $(this).children().eq(1).text().trim();
                        obj.Unit = $(this).children().eq(3).text().trim();

                        obj.StatusChildId = $(this).children().eq(0).attr('ipouid');
                        obj.Vendor = $("td[class='Ven']").text().trim();
                        obj.VendorNo = $("td[class='Ven']").attr('vid');
                        debugger;
                        obj.Rate = $(this).children().eq(0).attr('rate');





                        otArr.push(obj);
                    }
                }

            })
            return [ValidChild, otArr];

        }
        function IPOToArray()
        {
            debugger;
            var otArr = [];
            var ValidChild=false;
            var tbl2 = $('#grid tbody tr').each(function (i)
            {
                var obj = new Object();
                if ($(this)[0].rowIndex != 0 && $(this)[0].rowIndex != 1)
                {
                    debugger;
                    x = $(this).children();
                    obj.ReceiveQty = $(this).children().eq(14).find('input').val();
                    if (obj.ReceiveQty != null && obj.ReceiveQty != 0) {
                        ValidChild = true;

                        obj.GateEntryNo = $("#GateEntryNo").val();

                        //obj.Status = $("#Status option:selected").val();
                        var st = $("#txtStatus").val();
                        if(st =="Site Purchase")
                        {
                            obj.Status = 'LP';
                        } else if (st =="HO Purchase")
                        {
                            obj.Status = 'IPO';
                        } else if (st == "FOC Purchase")
                        {
                            obj.Status = 'FC';
                        }
                        else if (st == "CASH Purchase"){
                            obj.Status = 'CH';
                        }else if (st =="RO Purchase")
                        {
                            obj.Status = 'RO';
                        } else if(st=="Manual Transfer Receive Purchase")
                        {
                            obj.Status='MTR';
                        }
                        else{
                            obj.Status = null;
                        }

                        obj.StatusTypeId = $("#hdn_PO_ID").val();
                        obj.StatusTypeNo =  $("#hdn_PO_No").val();
                        // UnitNo ItemGroupNo Added from controller
                        obj.ItemNo = $(this).children().eq(0).attr('it');
                        obj.Item = $(this).children().eq(2).text().trim();
                        obj.ItemGroup = $(this).children().eq(1).text().trim();
                        obj.Unit = $(this).children().eq(3).text().trim();

                        obj.StatusChildId = $(this).children().eq(0).attr('ipouid');
                        obj.Vendor = $("td[class='Ven']").text().trim();
                        obj.VendorNo = $("td[class='Ven']").attr('vid');
                        debugger;
                        obj.Rate = $(this).children().eq(0).attr('rate');





                        otArr.push(obj);
                    }
                }
            })
            return [ValidChild, otArr];
        }


        function IPOToArray1()
        {
            debugger;
            var otArr = [];
            var ValidChild=false;
            var tbl2 = $('#grid tbody tr').each(function (i)
            {
                var obj = new Object();
                if ($(this)[0].rowIndex != 0 && $(this)[0].rowIndex != 1)
                {
                    debugger;
                    x = $(this).children();
                    obj.ReceiveQty = $(this).children().eq(12).find('input').val();
                    if (obj.ReceiveQty != null && obj.ReceiveQty != 0) {
                        ValidChild = true;

                        obj.GateEntryNo = $("#GateEntryNo").val();

                        //obj.Status = $("#Status option:selected").val();
                        var st = $("#txtStatus").val();
                        if(st =="Site Purchase")
                        {
                            obj.Status = 'LP';
                        } else if (st =="HO Purchase")
                        {
                            obj.Status = 'IPO';
                        } else if (st == "FOC Purchase")
                        {
                            obj.Status = 'FC';
                        }
                        else if (st == "CASH Purchase"){
                            obj.Status = 'CH';
                        }else if (st =="RO Purchase")
                        {
                            obj.Status = 'RO';
                        } else if(st=="Manual Transfer Receive Purchase")
                        {
                            obj.Status='MTR';
                        }
                        else{
                            obj.Status = null;
                        }

                        obj.StatusTypeId = $("#hdn_PO_ID").val();
                        obj.StatusTypeNo =  $("#hdn_PO_No").val();
                        // UnitNo ItemGroupNo Added from controller
                        obj.ItemNo = $(this).children().eq(0).attr('it');
                        obj.Item = $(this).children().eq(2).text().trim();
                        obj.ItemGroup = $(this).children().eq(1).text().trim();
                        obj.Unit = $(this).children().eq(3).text().trim();

                        obj.StatusChildId = $(this).children().eq(0).attr('ipouid');
                        obj.Vendor = $("td[class='Ven']").text().trim();
                        obj.VendorNo = $("td[class='Ven']").attr('vid');
                        debugger;
                        obj.Rate = $(this).children().eq(0).attr('rate');





                        otArr.push(obj);
                    }
                }
            })
            return [ValidChild, otArr];
        }


        function DispatchToArray() {
            //  alert("A");
            var otArr = [];
            var ValidChild = false;
            var tbl2 = $('#grid tbody tr').each(function (i) {
                var obj = new Object();
                if ($(this)[0].rowIndex != 0 && $(this)[0].rowIndex != 1 && $(this)[0].rowIndex != 2) {
                    x = $(this).children();
                    obj.ReceiveQty = $(this).children().eq(7).find('input').val();
                    if (obj.ReceiveQty != null && obj.ReceiveQty != 0) {
                        ValidChild = true;
                        obj.GateEntryNo = $("#GateEntryNo").val();

                        obj.Status = $("#Status option:selected").val();
                        obj.StatusTypeId = $("#StatusTypeNo option:selected").val();
                        obj.StatusTypeNo = $("#StatusTypeNo option:selected").text().trim();

                        obj.ItemNo = $(this).children().eq(0).attr('it');
                        obj.ItemGroupNo = $(this).children().eq(0).attr('ig');
                        obj.Item = $(this).children().eq(2).text().trim();
                        obj.ItemGroup = $(this).children().eq(1).text().trim();
                        obj.Unit = $(this).children().eq(3).text().trim();
                        obj.UnitNo = $(this).children().eq(0).attr('unitno');

                        obj.StatusChildId = $(this).children().eq(0).attr('ostuid');
                        //This Vendor use Here For Receiver Site
                        obj.Vendor = $("td[class='RVen']").attr('receivename');
                        obj.VendorNo = $("td[class='RVen']").attr('receiveno');

                        obj.Rate = $(this).children().eq(0).attr('rate');

                        obj.TaxPer = $(this).children().eq(0).attr('taxper');
                        obj.DeliveryUnitCharge = $(this).children().eq(0).attr('dperunit');
                        //This ReceiveQty use Here For Dispatch Qty

                        otArr.push(obj);
                    }
                }
            })
            return [ValidChild, otArr];
        }
        function ReceiveToArray() {

            var otArr = [];
            var ValidChild = false;
            var tbl2 = $('#grid tbody tr').each(function (i) {
                var obj = new Object();
                if ($(this)[0].rowIndex != 0 && $(this)[0].rowIndex != 1 && $(this)[0].rowIndex != 2) {
                    x = $(this).children();
                    obj.ReceiveQty = $(this).children().eq(7).find('input').val();
                    if (obj.ReceiveQty != null && obj.ReceiveQty != 0) {
                        ValidChild = true;
                        obj.GateEntryNo = $("#GateEntryNo").val();

                        obj.Status = $("#Status option:selected").val();
                        obj.StatusTypeId = $("#StatusTypeNo option:selected").val();
                        obj.StatusTypeNo = $("#StatusTypeNo option:selected").text().trim();

                        obj.ItemNo = $(this).children().eq(0).attr('it');
                        obj.ItemGroupNo = $(this).children().eq(0).attr('ig');
                        obj.Item = $(this).children().eq(2).text().trim();
                        obj.ItemGroup = $(this).children().eq(1).text().trim();
                        obj.Unit = $(this).children().eq(3).text().trim();
                        obj.UnitNo = $(this).children().eq(0).attr('unitno');

                        obj.StatusChildId = $(this).children().eq(0).attr('ostuid');
                        //This Vendor use Here For Dispach Site
                        obj.Vendor = $("td[class='DVen']").attr('dispatchname');
                        obj.VendorNo = $("td[class='DVen']").attr('dispatchno');

                        obj.Rate = $(this).children().eq(0).attr('rate');
                        obj.TaxPer = $(this).children().eq(0).attr('taxper');
                        obj.DeliveryUnitCharge = $(this).children().eq(0).attr('dperunit');
                        //This ReceiveQty use Here For Receive Qty

                        otArr.push(obj);
                    }
                }
            })
            return [ValidChild, otArr];
        }

        function getMaster() {

            debugger;

            var obj1 = new Object();

            obj1.Date = $("#Date").val();
            obj1.Time = $("#Time").val();

            obj1.ProjectNo = $("#hdn_PRJID").val();
            obj1.ProjectName = $("#txtProjectName").val();

            obj1.GateEntryNo = $("#GateEntryNo").val();



            obj1.ChallanNo = $("#ChallanNo").val();
            obj1.ChallanDate = $("#ChallanDate").val();
            obj1.VehicleNo = $("#VehicleNo").val();
            var st = $("#txtStatus").val();
            if(st =="Site Purchase")
            {
                obj1.Status = 'LP';
            }
            else if (st =="Electrical Purchase")
            {
                obj1.Status = 'EP';
            }
            else if (st =="Plumbing Purchase")
            {
                obj1.Status = 'PP';
            }
            else if (st =="Mechanical Purchase")
            {
                obj1.Status = 'MP';
            }
            else if (st =="HO Purchase")
            {
                obj1.Status = 'IPO';
            }
            else if (st == "FOC Purchase")
            {
                obj1.Status = 'FC';
            }
            else if (st == "CASH Purchase"){
                obj1.Status = 'CH';
            } else if (st =="RO Purchase")
            {
                obj1.Status = 'RO';
            }else if(st =="Manual Transfer Receive Purchase")
            {
                obj1.Status='MTR';
            }
            else{
                obj1.Status = null;
            }



            obj1.StatusTypeId = $("#hdn_PO_ID").val();
            obj1.StatusTypeNo = $("#hdn_PO_No").val();


            //  obj1.EmpId = $("#Employee option:selected").val();
            // obj1.EmpName = $("#Employee option:selected").text();



            return obj1;
        }
        function ValidMaster()
        {
            var Projects = $("#txtProjectName").val();
            var GateEntryNo = $("#GateEntryNo").val();
            var Status = $("#txtStatus").val();
            var StatusTypeNo = $("#txtPONumber").val();
            var Date = $("#Date").val();
            var rr = true;
            if (Projects == "0") {
                $('#Projects').css('border-color', '#f0551b');
                rr = false;
            }
            else {
                $('#Projects').css('border-color', '');

            }
            if (GateEntryNo == "") {
                $('#GateEntryNo').css('border-color', '#f0551b');
                rr = false;
            }
            else {
                $('#GateEntryNo').css('border-color', '');
            }

            if (Status == "") {
                $('#Status').css('border-color', '#f0551b');
                rr = false;
            }
            else {
                $('#Status').css('border-color', '');
            }

            if (StatusTypeNo == "") {
                $('#StatusTypeNo').css('border-color', '#f0551b');
                rr = false;
            }
            else {
                $('#StatusTypeNo').css('border-color', '');
            }

            if (Date == "") {
                $('#Date').css('border-color', '#f0551b');
                rr = false;
            }
            else {
                $('#Date').css('border-color', '');
            }

            return rr;

        }




        function ValidChild()
        {}


        // Populate GRN On basis of Selected GRN Date.


    $("#Date").change(function () {

        $.ajax({
            type: 'POST',
            url: GetGRNNoDateWise, // Calling json method

            dataType: 'json',

            data: { ProjectNo: $("#hdn_PRJID").val(), GRN_Mid_Date: $("#Date").val() },


            success: function (obj) {
                obj = $.parseJSON(obj)



                $("#GateEntryNo").val(obj.GRN_NO);

            },
            complete: function () {
                // $('#loading').hide();
            },
            error: function (ex) {
                alert('Failed to retrieve Gate Entry Number Number.' + ex);
            }
        });

    });

    });

    function GetLoadChilddetail(StatusType)
    {
        $.ajax({
            type:  'GET',
            url: Grid,
           data: { Type:StatusType ,PurchaseNo:  $("#hdn_PO_ID").val() },
            // . $("#txtStatus").val()
            complete: function () {
                $('#dvLoading').hide();
            },
            success: function (result) {

                $('#formbody').html(result);
                // getchallan();
            },
            error: function (ex) {
                alert('Failed to retrieve Project Code.' + ex);
            }
        });
    }

    function getchallan()
    {
        // alert("z");
        if ($("#Status").val() == "Dispatch" || $("#Status").val() == "Receive")
        {

            $("#ChallanNo").val($("div[class='Challan']").attr('challanno'));
            $("#VehicleNo").val($("div[class='Challan']").attr('vehicleno')) ;
            $("#ChallanDate").val($("div[class='Challan']").attr('challandate')) ;
        }

    }

</script>


<script>



    $(document).ready(function () {

        $(document).on('keyup', "td[class^='CDispatch_']", function () {
            // alert("A");
            var current = $(this).find('input').val();
            var str = $(this).attr('class');
            var a = str.substring(10);
            var Dispatch = $("#Dispatch_" + a).find('input').val();
            current = +current + +Dispatch
            var Qty = $("#Qty_" + a).find('input').val();
            if (+current > +Qty) {
                alert("Total Dispatch Quantity Can,t Greater than Qty");
                $(this).find('input').val('');
            }


        });


        $(document).on('keyup', "td[class^='CReceive_']", function () {
            var current = $(this).find('input').val();
            var str = $(this).attr('class');
            var a = str.substring(9);
            var Receive = $("#Receive_" + a).find('input').val();
            current = +current + +Receive
            var Dispatch = $("#Dispatch_" + a).find('input').val();
            if (+current > +Dispatch) {
                alert("Total Receive Quantity Can,t Greater than Dispatch Qty");
                $(this).find('input').val('');
            }


        });
    });


    $(document).ready(function ()
    {
        $(document).on('keyup', "td[class^='Receive_']", function () {
            debugger;
            var current=$(this).find('input').val();
            var str=$(this).attr('class');
            var a=str.substring(8);
            // var Qty = $("#Qty_" + a).find('input').val();
            var Qty =0.0;
            if($('#ItmExcqty_'+ a).length==0){
                Qty= $("#Qty_" + a).find('input').val();
                console.log(Qty);
            }
            else{
                Qty = $("#ItmExcqty_" + a).find('input').val();
            }
            //var Qty = $("#ItmExcqty_" + a).find('input').val();
            var PReceive = $("#PReceive_" + a).find('input').val();

            var GateRecvQty = $("#GateReceive_" + a).find('input').val();
            //console.log(tType);


            if(GateRecvQty =="")
            {
                GateRecvQty = 0.000
            }else{
                GateRecvQty = GateRecvQty;
            }
            var Net = parseFloat(+current + +GateRecvQty).toFixed(10);

            Qty=parseFloat(Qty);

            if(+Net <= +Qty)
            {
                var bal = +current + +PReceive;

                var ba_l = bal.toFixed(3);

                if ( +ba_l > +Qty)
                {
                    alert("Total Greater than  Purchase Qty");
                    $(this).find('input').val('');
                }
            }
            else
            {
               // alert(Net);
              // alert(Qty);
                alert("No more Qunatity to receive.");
                $(this).find('input').val('');
            }

        });
    })


    $(document).ready(function () {
        //  alert('testing');


        $(document).on('keypress',"input[id='Receive']",function(event){


            return isNumber(event, this)
        });

        function isNumber(evt, element) {

            var charCode = (evt.which) ? evt.which : event.keyCode

            if (
                (charCode != 45 || $(element).val().indexOf('-') != -1) &&      // “-” CHECK MINUS, AND ONLY ONE.
                (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
                (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        $("#confirmBtn").click(function () {
            window.location.href = redirectUrl;
        });

    });

</script>

<script type="text/javascript">
    $(document).ready(function() {

        var timer;
        $(function(){
            $('#dateTime').html(getDateTime());

            // Do a $.ajax call and update start time in your database

            timer = setTimeout(function(){
                update();
            }, 1000);


        });

        function update() {
            $('#dateTime').html(getDateTime());

            timer = setTimeout(function(){
                update();
            }, 1000);
        }

        function getDateTime(){
            var currentdate = new Date();
            var datetime = "Current Time: "
                        + currentdate.getHours() + ":"
                        + currentdate.getMinutes() + ":"
                        + currentdate.getSeconds();
            return datetime;
        }

    });

</script>

}


<section id="content_wrapper">
    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">
                    <!-- Begin: Content Header -->
                    <!-- Begin: Admin Form -->
                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">Material Gate Entry</span>
                                </div>
                                <!-- .section-divider -->
                                <!-- Basic Inputs -->
                                <p style="display:none">
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
                                    <input type="hidden" value="@ViewBag.PO_No" id="hdn_PO_No" />
                                    <input type="hidden" value="@ViewBag.POID" id="hdn_PO_ID" />
                                    <input type="hidden" value="@ViewBag.PRJID" id="hdn_PRJID" />
                                </p>
                                <!-- Input Icons -->
                                <div class="row">

                                    <div class="col-md-12">
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="section">
                                                            <label class="field prepend-icon" style="margin-left:7px">
                                                                <span style="font:bold" id="dateTime"></span>

                                                            </label>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4" id="Time">
                                                        <div class="section">
                                                            <label class="field prepend-icon">
                                                                @Html.TextBox("ProjectName", null, new { id = "txtProjectName", @class = "form-control gui-input required", @readonly = "readonly" })
                                                                <label for="firstname" class="field-icon">
                                                                    <i class="fa fa-building"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-4">
                                                        <div class="section">
                                                            <label class="field prepend-icon">
                                                                @Html.TextBox("Date", string.Format("{0:dd MMM yyy}", Date), new { @class = "DatePicker form-control", @id = "Date", @placeholder = "Gate Entry Date",@autocomplete="off" })
                                                                <label for="RefNo" class="field-icon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="section">
                                                            <label class="field prepend-icon">
                                                                @Html.TextBox("GateEntryNo", null, new { id = "GateEntryNo", @class = "form-control gui-input required", @readonly = "readonly" })

                                                                <label for="firstname" class="field-icon">
                                                                    <i class="fa fa-building"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>





                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="section">
                                                            <label class="field prepend-icon">
                                                                @Html.TextBox("ChallanNo", null, new { id = "ChallanNo", @class = "form-control gui-input required", @placeholder = "Challan/Bill No" })

                                                                <label for="firstname" class="field-icon">
                                                                    <i class="fa fa-building"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="section">
                                                            <label class="field prepend-icon">
                                                                @Html.TextBox("ChallanDate", string.Format("{0:dd MMM yyy}", Date), new { @class = "DatePicker form-control", @id = "ChallanDate", @placeholder = "Challan Date" })
                                                                <label for="RefNo" class="field-icon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="section">
                                                            <label class="field prepend-icon">
                                                                @Html.TextBox("VehicleNo", null, new { id = "VehicleNo", @class = "form-control gui-input required", @placeholder = "Vehicle No" })

                                                                <label for="firstname" class="field-icon">
                                                                    <i class="fa fa-building"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="section">
                                                            <label class="field prepend-icon">
                                                                @Html.TextBox("Status", null, new { id = "txtStatus", @class = "form-control gui-input required", @placeholder = "Status Type", @readonly = "readonly" })
                                                                <label for="Statustname" class="field-icon">
                                                                    <i class="fa fa-building"></i>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group form-control">
                                                            <input type="text" name="txt" id="txtPONumber" class="hide" value="@ViewBag.PO_No" />
                                                            <label>
                                                                P.O Number: <a href="javascript:void(0);" id="txtPONumber1" style="color:blue;">@ViewBag.PO_No</a>
                                                            </label>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        }

                                        <div id="dvLoading"></div>
                                        <div id="#progress" style="display:none"><img src="~/Images/36.gif" /></div>
                                        <div class="pager glyphicon-align-center" id="formbody">

                                        </div>


                                        <br />
                                        <div>
                                            <input type="button" id="btnsave" class="btn btn-primary" value="Submit" onclick="putGetRecvdisable()" />
                                        </div>

                                        <div id="myModal" class="modal fade">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                                                        <h4 class="modal-title">Confirmation</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        @*<p>Do you want to save changes you made to document before closing?</p>*@
                                                        <p class="text-danger">Data Save Successfully</p>
                                                        <p>Your Transaction No. Is <b id="trans_num"></b>.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button confirmBtn" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="section-divider mt40 mb25" id="spy5">
                                            <span></span>
                                        </div>

                                        <!-- end .section row section -->
                                        <!-- end .form-footer section -->
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
        <!-- end: .tray-center -->
        <!-- begin: .tray-right -->
        <!-- end: .tray-right -->

    </section>
    <!-- End: Content -->
</section>


<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Purchase Order Details</h4>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>