@model MMS.Models.VMChangePassword
@{
    ViewBag.Title = "Change Password";
}

<section id="content_wrapper">
    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">


        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">
                    <!-- Begin: Content Header -->
                    <!-- Begin: Admin Form -->
                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">@ViewBag.Title</span>
                                </div>

                                @using (Html.BeginForm("ChangePassword", "MyAccount", FormMethod.Post))
                                {

                                    <div class="row">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="pwd">Current Password<span class="text-danger">*</span>:</label>
                                            <div class="col-md-3">
                                                @*<input type="password" class="form-control" id="Opwd" placeholder="Enter password" name="pwd">*@
                                                @Html.PasswordFor(x => x.OldPassword, new { id = "Opwd", @class = "form-control gui-input", @placeholder = "Current Password" })
                                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="pwd">New Password<span class="text-danger">*</span>:</label>
                                                <div class="col-md-3">
                                                    @*<input type="password" class="form-control" id="Npwd" placeholder="Enter password" name="pwd">*@
                                                    @Html.PasswordFor(x => x.NewPassword, new { id = "Npwd", @class = "form-control gui-input", @placeholder = "New Password" })
                                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="pwd">Confirm Password<span class="text-danger">*</span>:</label>
                                                <div class="col-md-3">
                                                    @*<input type="password" class="form-control" id="Cpwd" placeholder="Enter password" name="pwd">*@
                                                    @Html.PasswordFor(x => x.ConfirmPassword, new { id = "Cpwd", @class = "form-control gui-input", @placeholder = "Confirm Password" })
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <input type="submit" id="btnsave" class="btn btn-primary" value="Submit" />
                                                </div>
                                            </div>
                                        </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>

        <!-- end: .tray-center -->
        <!-- begin: .tray-right -->
        <!-- end: .tray-right -->

    </section>
    <!-- End: Content -->
</section>


@section scripts{
    @if (ViewBag.Msg != null)
    {
        <script type="text/javascript">
        alert('@ViewBag.Msg');
        @if(ViewBag.Done!=null && ViewBag.Done==true){
            <text>
        window.location.href = '@Url.Action("Logout","MyAccount")';
            </text>
        }
        </script>
    }
}