@model MMS.Controllers.Print_Slip_For_ApprovalController.PrintData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    @*@*<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />

        @*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@

    @* FOR EMPLOYEE NAME BINDING HERE *@

    <script type="text/javascript">
    $(document).ready(function () {
       // $("#prjtid1").prop('selectedIndex', 1).trigger('change');
        $("#prjtid1").change(function () {
            $("#empName1").empty();
            $("#empName1").append($("<option></option").val("").html("Select Employee Name"));
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEmpname")', // Calling json method

                dataType: 'json',

                data: { id: $("#prjtid1").val() },
                // Get Selected Country ID.

                success: function (names) {

                    $.each(names, function (i, itname) {
                        $("#empName1").append('<option value="' + itname.Value + '">' +
                             itname.Text + '</option>');

                    });
                },
                error: function (ex) {
                    toastr.options.positionClass = "toast-bottom-right";
                    toastr.options.closeButton = true;
                    toastr.options.progressBar = true;
                    toastr.error('Failed to retrieve Employee Name.');
                    alert('Failed to retrieve Employee Name.' + ex);
                }
            });
            return false;
        })
    });
    </script>

    <script type="text/javascript">

        $(function () {
            $('#Send1').on('click', function () {

                //var tr = $(this).parents('tr:first');
                var Purchase_Order_Indent_No = $("#bold1").text();
                var ForwordTo = $("#empName1").val();
                var Remark = $("#textarea_Remark").val();
                var Status_Approval = $("#Status_Approval").val();

                var ApprovalModel =
                {
                    "Purchase_Order_Indent_No": Purchase_Order_Indent_No,
                    "ForwordTo": ForwordTo,
                    "Remark": Remark,
                    "Status_Approval": Status_Approval

                };
                $.ajax({
                    url: '@Url.Action("SaveRemark", "Print_Slip_For_Approval")',
                    data: JSON.stringify(ApprovalModel),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert('Record Sent Successfully!!');
                        $("#empName1").val('');
                         $("#textarea_Remark").val('');
                         $("#Status_Approval").val('');
                    }
                });
            });


        })
    </script>






    <style>
        td {
            text-align: center;
        }

        table tr td {
            font-size: 12px;
        }
    </style>
    <style type="text/css">
        .tblEmployee {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        .EmployeeTableTH {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        .EmployeeTableTD {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>


    <script>
        $(document).ready(function() {
            $("#approved").click(function () {
                $("#yourDialog").show();
            });
        });
    </script>

    @*<script type="text/javascript">
        $(document).ready(function () {
            $("#tblEmployee1 tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAll_GTC_Details")',
                dataType: 'json',
                data: {},
                success: function (data) {
                    $("#imgLoading1").hide();
                    var items = '';
                    var rows = "<tr class='primary'>"
                        + "<th align='left' class='EmployeeTableTH'>GTC</th>"
                        + "</tr>";
                    $('#tblEmployee1 tbody').append(rows);

                    $.each(data, function (i, item) {
                        var rows = "<tr class='system'>"
                       + "<td class='EmployeeTableTD'>" + item.GTC_Description + "</td>"

                        + "</tr>";
                        $('#tblEmployee1 tbody').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                }
            });
            return false;
        });
        </script>*@

    @* Print Code here *@
    <style>
        #divtoprint, #divtoprint * {
            visibility: visible;
        }

        #divtoprint {
        }
    </style>




    <script>
        function PrintContent()
        {
            var DocumentContainer = document.getElementById('divtoprint');
            var WindowObject = window.open("", "PrintWindow",
            "width=1000,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes");
            WindowObject.document.writeln(DocumentContainer.innerHTML);
            WindowObject.document.close();
            WindowObject.focus();
            WindowObject.print();
            WindowObject.close();

        }
    </script>

</head>
<body>
    <div id="divtoprint">

        <center>
            <table class="table table-bordered" border="1">

                <tbody>
                    <tr>
                        <td rowspan="3" style="border-bottom: 2px solid black !important;"><img src="~/Images/logo.png" /></td>
                        <td>
                            Ahluwalia Contracts (India) Ltd<br />
                            CIN: L45101DL1979PLC009654
                        </td>
                        <td>Title: Purchase (QMSP-08)</td>
                        <td>Revision 3.0 dated 01/08/2020</td>

                    </tr>
                    <tr style="border-bottom: 2px solid black !important;">
                        <td>ISO 9001:2015</td>
                        <td>ISO 14001:2015</td>
                        <td>ISO 45001:2018</td>

                    </tr>
                    @*<tr>
                            <td colspan="3">PURCHASE ORDER (F-02/QMSP-08)</td>
                        </tr>*@
                </tbody>
            </table>
        </center>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        PURCHASE ORDER (F-02/QMSP-08)
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" style="width:100%" cellpadding="4" cellspacing="0" border="1">

            <thead>

                <tr>
                    <th style="text-align:left; font-size:12px;">Project Name & Address:</th>
                    <th style="text-align:left; font-size:12px;">PO No.@Model.HeaderData.PurchaseOrderNo</th>
                    <th style="text-align:left; font-size:12px;">
                        PO Date: @Model.HeaderData.PurchaseOrderDate.Value.ToString("dd/MM/yyyy")
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td style="text-align:justify; width:40%; font-size:12px;">
                        @Model.HeaderData.ProjectName
                        <p style="margin:0px; font-size:12px;">@Model.HeaderData.Location</p>
                    </td>
                    <td colspan="2" style="color:black; text-align:left; font-size:12px;">
                        Indent Ref No. @Model.HeaderData.IndentRefNo   Dtd. @Model.HeaderData.PurchaseOrderDate.Value.ToString("dd/MM/yyyy")
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left; font-size:12px;">
                        Supplier's Name & Address:
                    </td>
                    <td colspan="2" style="color:black; text-align:left;">ACIL TIN No. </td>
                </tr>
                <tr>
                    <td style="width:40%;  font-size:10px;">
                        @Model.HeaderData.Name     @Model.HeaderData.Address
                        <p style="margin:0px; font-size:12px;">Supplier TIN No. @Model.HeaderData.AcilTinNo</p>
                        <p style="margin:0px; font-size:12px;">Contact:Mr. @Model.HeaderData.ContactPerson (@Model.HeaderData.MobileNo)</p>
                    </td>
                    <td colspan="2" style="color:black; text-align:left;font-weight:100">
                        Reference:@Model.HeaderData.Reference
                    </td>
                </tr>
            </tbody>

        </table>
        @* Table for Dear sir *@
        <div style="margin:0px;">
            <b>Dear Sir</b>
            <p>We are pleased to place on your firm the following order for supplies as per the rates specified hereunder:</p>
        </div>
        <div class="panel-body pn">
            @*<table id="tblEmployee1" class="table">
                    <thead>
                        <img src="~/Images/Loading.gif" alt="Loading" id="imgLoading" class="Load" style="width:100px; height:100px" />
                    </thead>
                    <tbody></tbody>
                </table>*@

            <table id="t01" width="100%" style="font-size:12px;" cellpadding="4" cellspacing="0" border="1">
                <thead>
                <th>Description</th>
                @*<th>Project Name</th>*@
                <th>Unit</th>
                <th>Quantity</th>
                <th>Rate(in Rs.)</th>
                <th>Discount (%)</th>
                @*<th>Tax</th>*@
                <th colspan="2">Total Amount</th>
                @*<th>Sub-total</th>*@
                @*<th>Remark</th>*@
                </thead>
                @foreach (var c in Model.ItemData)
                {
                    <tr>
                        <td>
                            @c.ItemName <br />
                            (@c.ItemDescrp)

                        </td>
                        @*<td>
                        @item.ProjectName
                    </td>*@
                        <td>
                            @c.UnitName
                        </td>
                        <td>
                            @c.Qty
                        </td>
                        <td>
                            @c.Rate
                            @*<input id="MFirstName" type="text" class="TextBoxBorder" name="FirstName" value="@item.Rate" />*@
                        </td>
                        <td>
                            @c.Discount
                        </td>
                        @*<td>
                        @c.Vat
                    </td>*@
                        <td colspan="2">
                            @*@c.SubTotal*@
                            @c.Amount
                        </td>
                        @*<td>
                        @c.SubTotal
                    </td>*@

                        @*<td>
                        <p>@c.Remark</p>
                    </td>*@


                    </tr>
                }

                <tr>
                    <td colspan="3"></td>
                    <td colspan="3" style="text-align:left;">Sub Total</td>
                    <td colspan="2" style="text-align:right;">@Model.HeaderData.T_Total</td>
                </tr>

                @if (Model.HeaderData.P_Total > Convert.ToDecimal(0.00))
                {
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" style="text-align:left;"> Packing & Forwarding Charges</td>
                        <td colspan="2" style="text-align:right;">@Model.HeaderData.P_Total</td>
                    </tr>
                }

                @if (Model.HeaderData.Ex_Total > Convert.ToDecimal(0.00))
                {
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" style="text-align:left;">@Model.HeaderData.Excise_DutyType</td>
                        <td colspan="2" style="text-align:right;">@Model.HeaderData.Ex_Total</td>
                    </tr>

                }




                @if (Model.HeaderData.CR1_Total > Convert.ToDecimal(0.00))
                {
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" style="text-align:left;">Cartage 1 : @Model.HeaderData.Cartage_Type_1</td>
                        <td colspan="2" style="text-align:right;">@Model.HeaderData.CR1_Total</td>
                    </tr>
                }



                <tr>
                    <td colspan="3"></td>
                    <td colspan="3" style="text-align:left;">SubTotal</td>
                    <td colspan="2" style="text-align:right;">@Model.HeaderData.T_SubTotal1</td>
                </tr>

                @if (Model.HeaderData.T_Insi1 > Convert.ToDecimal(0.00))
                {
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" style="text-align:left;">Insurance : @Model.HeaderData.Insi_Type_1</td>
                        <td colspan="2" style="text-align:right;">@Model.HeaderData.T_Insi1</td>
                    </tr>
                }



                @if (Model.HeaderData.T_TotTax > Convert.ToDecimal(0.00))
                {
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" style="text-align:left;">Tax : @Model.HeaderData.Tax_1</td>
                        <td colspan="2" style="text-align:right;">@Model.HeaderData.T_TotTax</td>
                    </tr>
                }






                @*@foreach (var cc in Model.ItemData)
            {
                <tr>
                    <td colspan="3"></td>
                    <td colspan="3" style="text-align:left;">Tax : @cc.Tax_type</td>
                    <td colspan="2" style="text-align:right;">@cc.T_Tax</td>
                </tr>


            }*@


                @if (Model.HeaderData.CR2_Total > Convert.ToDecimal(0.00))
                {
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" style="text-align:left;">Cartage 2 : @Model.HeaderData.Cartage_Type_2</td>
                        <td colspan="2" style="text-align:right;">@Model.HeaderData.CR2_Total</td>
                    </tr>
                }




                <tr>
                    <td colspan="3"></td>
                    <td colspan="3" style="text-align:left;">SubTotal </td>
                    <td colspan="2" style="text-align:right;">@Model.HeaderData.T_SubTotal2</td>
                </tr>

                @if (Model.HeaderData.T_Insi2 > Convert.ToDecimal(0.00))
                {
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3" style="text-align:left;">Insurance 2 : @Model.HeaderData.Insi_Type_2</td>
                        <td colspan="2" style="text-align:right;">@Model.HeaderData.T_Insi2</td>
                    </tr>
                }







                @*<tr>
                <td colspan="3"></td>
                <td colspan="3" style="text-align:left;">Surcharge</td>
                <td colspan="2" style="text-align:right;">
                    @if (Model.HeaderData.SurCharge != null)
                    {
                        @Model.HeaderData.SurCharge;
                    }
                    else {
                        <p>0</p>
                    }
                </td>
            </tr>*@

                <tr>
                    <td colspan="3"></td>
                    <td colspan="3" style="text-align:left;">Grand Total</td>
                    <td colspan="2" style="text-align:right;">@Model.HeaderData.GrandTotal</td>
                </tr>

                <tr>
                    <td colspan="10">
                        <p style="float:right"><b> Amount In Word :</b>  @ViewBag.PrintamountInWord </p>
                    </td>
                </tr>
                @*<tr>
                <td colspan="3">iyfulfujjfj</td>
                <td colspan="2">Grand Total</td>
                <td colspan="2">@Model.HeaderData.GrandTotal</td>
            </tr>*@


            </table>

        </div>
        <br />


        <h5>Specific Terms & Conditions</h5>
        <div>
            <table style="width:100%;" cellpadding="1" cellspacing="0" border="1">
                @foreach (var items_Dels in ViewBag.Delevery_details)
                {

                    <tr>
                        <td style="text-align:left; font-size:12px;">1.Delivery Address: @items_Dels.Delivery_Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; font-size:12px;">2.Contact Person At Site: @items_Dels.Contact_Person_Name @items_Dels.Contact_Person_Mobile</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; font-size:12px;">3.Billing Address :@items_Dels.Billing_Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; font-size:12px;">4.Delivery Schedule: @items_Dels.Delivery_Schedule</td>
                    </tr>
                }
            </table>
            <table id="table_Stcs1" style="width:100%;" cellpadding="4" cellspacing="0" border="1">
                @{int stcsi = 5;
                    foreach (var items_Stcs in ViewBag.Stc_details)
                    {

                    <tr>
                        <td>
                            @stcsi
                        </td>
                        <td style="text-align:left; font-size:12px;">
                            @items_Stcs.STC_Description
                        </td>
                        @*<td>
                                @item.ProjectName
                            </td>
                            <td>
                                @item.UnitName
                            </td>*@

                    </tr>
                        stcsi++;
                    }
                    }

            </table>
        </div>

        <h5>Specific Instructions</h5>
        <div>
            <table id="table_Si1" style="width:100%;" cellpadding="4" cellspacing="0" border="1">

                 @{int sii = 1;
                     foreach (var items_Sis in ViewBag.Si_details)
                     {

                    <tr>
                        <td style="border:1px solid black;">
                            @sii
                        </td>
                        <td style="text-align:left; font-weight: normal;">
                            @items_Sis.SI_Description
                        </td>
                        @*<td>
                                @item.ProjectName
                            </td>
                            <td>
                                @item.UnitName
                            </td>*@

                    </tr>
                         sii++;
                     }
                     }

            </table>
        </div>





        Please supply the above material/goods immediately at abovementioned site as per the terms and conditions stipulated above and overleaf. Also, please confirm acceptance of this PO.




        <table style="width:100%" cellpadding="4" cellspacing="0" border="1">
            <thead>
                <tr>
                    <th style="text-align:left; font-size:12px;">Prepared by</th>
                    <th style="text-align:left; font-size:12px;">Checked by</th>
                    <th style="text-align:left; font-size:12px;">Authorised Signatory</th>
                </tr>
            </thead>
            <tbody>
                <tr><td style="text-align:left;">@Model.HeaderData.PoCreatedBy <br />  Signature:</td>
                <td style="text-align:left;">@Model.HeaderData.PoApprovedBy <br /> Signature: </td>
                <td style="text-align:left;"> @Model.HeaderData.IsReleasePOBy <br /> Signature: </td>
                </tr>
            </tbody>
        </table>
        <br />
        <table style="border:1px solid black;">
            <tr><td colspan="2" style="border:1px solid black; text-align:left;">Acceptance of PO by Supplier</td></tr>
            <tr>
                <td style="border:1px solid black;">(Supplier to sign and put official stamp here on copy of the PO and return to ACIL for record, or confirm acceptance by  e-mail.)</td>
                <td style="border:1px solid black;">Counter-signature of Project In-Charge /Controlling Dept. Rep in Head Office</td>
            </tr>
        </table>

        <table style="border:1px solid black;" width="100%">
            <tr>
                <td style="border:1px solid black;">Correspondence Address:</td>
                <td style="border:1px solid black;"> A-177, Okhla Industrial Area, Phase-1, New Delhi - 110020</td>
            </tr>
            <tr>
                <td style="border:1px solid black;">Contact Person:</td>
                <td style="border:1px solid black;"> Barun Kumar (+91-8587906391)</td>
            </tr>
        </table>

        <center>
            <h5>General Terms & Conditions</h5>

            <p style="font-size:12px;">(Reference PO No.<b style="color:blue;" id="bold1">@Model.HeaderData.PurchaseOrderNo</b> Dated @Model.HeaderData.PurchaseOrderDate.Value.ToString("dd/MM/yyyy"))</p>

        </center>
        <div>
            <table id="table_Gtcs1" style="width:100%;" cellpadding="4" cellspacing="0" border="1">
                 @{int i = 1;
                     foreach (var items_Gtcsc in ViewBag.Gtc_details)
                     {

                    <tr>
                        <td style="border:1px solid black;">
                            @i
                        </td>
                        <td style="text-align:left; font-weight: normal; border:1px solid black;">
                            @items_Gtcsc.GTC_Description
                        </td>
                    </tr>
                         i++;
                     }
                     }
            </table>

            @*<table id="tblEmployee1" class="table">
                    <thead>
                        <img src="~/Images/Loading.gif" alt="Loading" id="imgLoading1" class="Load" style="width:500px; height:500px" />
                    </thead>
                    <tbody></tbody>
                </table>*@

        </div>


        <br />
        @*<div id="yourDialog" style="height:350px; width:700px; background-color:#bae5f8; display:none">
            <br />
            <table class="border table-responsive">
                <tr>
                    <td>Select Project</td>
                    <td>@Html.DropDownList("prjtid", null, "Select Project", htmlAttributes: new { @id = "prjtid1", @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>Forword To</td>
                    <td>@Html.DropDownList("empName1", new SelectList(string.Empty, "Value", "Text"), "Select Employee Name", new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>Remark</td>
                    <td style="text-align:left;"><textarea id="textarea_Remark" name="textarea" style="width:350px;height:100px;"></textarea></td>
                </tr>
                <tr>
                    <td>Select Status</td>
                    <td style="text-align:left;">
                        @Html.DropDownList("Status_Approval", new[] { new SelectListItem() { Text = "Approved", Value = "Approved" }, new SelectListItem() { Text = "Not Approved", Value = "Not Approved" } }, "Select Status", new { htmlAttributes = new { @class = "form-control gui-input" } })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="button" id="Send1" class="btn btn-warning" value="Send" />
                        <input type="button" id="Reset1" class="btn btn-alert" value="Reset" />
                    </td>
                </tr>
            </table>

        </div>*@


    </div>

    <div style="clear:both;"></div>
    <div>
        @*<input type="button" id="approved" class="btn btn-system" value="Approval" />*@
        @*<input type="button" id="btnBack" class="btn btn-danger" value="Calculate" />*@
        <input type="button" id="btnPrint" class="btn btn-primary" value="Print" onclick="PrintContent();" />
    </div>

</body>
</html>
