
@{
    ViewBag.Title = "Index";
}

<section id="content_wrapper" ng-app="myApp" ng-controller="myCtrl">
    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">
                    <!-- Begin: Content Header -->
                    <!-- Begin: Admin Form -->
                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">PO Closer</span>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <select id="ddlProjects" class="form-control">
                                            <option value="">Select Project</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <select id="ddlVendor" class="form-control">
                                            <option value="">Select Vendor</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" autocomplete="off" id="txtPONo" placeholder="Purchase Order Number" name="name" value="" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="From Date" id="txtFromDate" class="form-control datepicker" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" placeholder="To Date" id="txtToDate" class="form-control datepicker1" />
                                    </div>
                                    <div class="col-md-1">
                                        <input type="button" name="btn" value="Search" id="btnSearch" class="btn btn-primary" ng-click="GetData()" />
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-responsive">
                                            <thead> 
                                               
                                                <tr>
                                                    <th>S.No.</th>
                                                    <th>Purchase Order No</th>
                                                    <th>Purchase Order Date</th>
                                                    <th>Vendor Name</th>
                                                    <th>PO Description</th>
                                                    <th>Total Amount</th>
                                                    <th>Status</th>
                                                    <th>Received</th>                                                    
                                                    @*<th>Action</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-show="Progress">
                                                    <td colspan="9" class="text-center">
                                                        <img src="~/Images/Loading.gif" alt="LoadingImage" />
                                                    </td>
                                                </tr>
                                                <tr ng-show="Data.length==0" ng-hide="Data.length>0 || Progress">
                                                    <td colspan="9" class="text-center">
                                                        <text style="color:red">No Data Found</text>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="item in Data">
                                                    <td>{{$index+1}})</td>
                                                    <td><a href="javascript:void(0);" ng-click="GetPODetail(item.UId)">{{item.PurchaseOrderNo}}</a></td>
                                                    @*<td ng-click="GetPODetail(item.UId)">{{item.PurchaseOrderNo}}</td>*@
                                                    <td>{{item.PurchaseOrderDate}}</td>
                                                    <td>{{item.VendorName}}</td>
                                                    <td>{{item.PODescription}}</td>
                                                    <td>{{item.GrossAmount}}</td>
                                                    <td>{{item.Status}}</td>
                                                    <td>{{item.Received}}</td>
                                                    @*<td>
                                                        <input type="button" method="post" class="btn btn-xs btn-primary UID" name="name" value="View" ng-click="GetPODetail(item.UId)" />                                                     
                                                    </td>*@
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Po Items</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Item Name</th>
                                <th>Qty</th>
                                <th>Receive</th>
                                <th>Balance Qty</th>
                                <th>Rate</th>
                                <th>Closing Reason</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ItemDetail">
                                <td>{{$index+1}}</td>
                                <td>{{item.ItemName}}</td>
                                <td>{{item.Qty}}</td>
                                <td>{{item.Receive}}</td>
                                <td>{{item.BalanceQty}}</td>
                                <td>{{item.Rate}}</td>
                                <th>{{item.ReasonForCloserName}}</th>
                                <th>{{item.Remarks}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" data1="">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
            </div>

        </div>
    </div>

</section>

@section scripts{
    <script type="text/javascript">
      var GetResonCloser = '@Url.Action("GetResonCloser","POCloser")';
      var GetPoDetails = '@Url.Action("ItemReport","POCloserReport")'
      var GetPOData = '@Url.Action("GetPOData", "POCloserReport")';
      var projectUrl = '@Url.Action("BindProjectNew","POCloser")';
      var BindVendor = '@Url.Action("BindVendor","POCloser")';
    </script>
    <script src="~/Scripts/Helpers/DropDownBinding.js"></script>
    <script src="~/Script/POCloserRrport.js"></script>
    <script src="~/Scripts/Helpers/AngularJs_1.7.7.js"></script>

}
