
@{
    ViewBag.Title = "Index";
    string layout = "";
    var cheking = Session["EmailCheck"].ToString();
    if (cheking == "admin@sitanet.in")
    {
        layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        layout = "~/Views/Shared/_Layout.cshtml";//
    }

    Layout = layout;
    WebGrid grid = new WebGrid(source: Model, canPage: false);
}


<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>


<script type="text/javascript">
    var ss = @Html.Raw(Json.Encode(ViewBag.EmpId));
    var GetProjectByEmpId = '@Url.Action("GetProjectByEmpId", "Multiple_Quantity_wise_Search")';


</script> 

@* Here for Check Balance Data *@


<style type="text/css">
    .tblEmpoyees {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: white;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

    .empTableTH {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color:  #0094ff;
    }

    .empTableTD {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color:#72bb90;
    }
</style>
@* Project name binding according to user login *@
<script>
    $(document).ready(function () {

        window['GetPrj'] = function (dateString) {
            $('#dvLoading').show();
            $.ajax({
                type: 'POST',
                url: GetProjectByEmpId, // Calling json method

                dataType: 'json',
                data: { E: ss },
                complete: function () {
                    $('#dvLoading').hide();
                },
                success: function (result) {
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("#Projects").html(procemessage).show();
                    var markup = "<option value='0'>Select Project</option>";
                    $("#Projects").html(markup).show();
                    result = $.parseJSON(result)

                    var selectedDeviceModel = $('#Projects');
                    $.each(result, function (index, item) {
                        selectedDeviceModel.append(
                            $('<option/>', {
                                value: item.Value,
                                text: item.Text
                            })
                        );
                    });

                    $("#Projects").prop('selectedIndex', 1).trigger('change');
                },
                error: function (ex) {
                    alert('Failed to retrieve Project.' + ex);
                }
            });
            return false;
        };
        GetPrj();


    });
</script>


@* FOR ITEM NAME BINDING HERE *@

<script type="text/javascript">
    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#itemgroupname1").change(function () {
            $("#tblItemMaster").empty();
            $("#tblItemMaster").append($("<option></option").val("").html("Select Item Name"));
            $("#unit1").val('');
            $("#make1").val('');
            $("#partno1").val('');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetGroupitem")', // Calling json method

                dataType: 'json',

                data: { id: $("#itemgroupname1").val() },
                // Get Selected Country ID.

                success: function (names) {

                    $.each(names, function (i, itname) {
                        $("#tblItemMaster").append('<option value="' + itname.Value + '">' +
                             itname.Text + '</option>');

                    });
                },
                error: function (ex) {
                    toastr.options.positionClass = "toast-bottom-right";
                    toastr.options.closeButton = true;
                    toastr.options.progressBar = true;
                    toastr.error('Failed to retrieve Item Name.');
                    alert('Failed to retrieve Item Name.' + ex);
                }
            });
            return false;
        })
    });
</script>

@* Here Jquery code for block and floor details and selection *@
@* Edit Quntity Value Code Here  *@
@*<script type="text/javascript">
    $(document).ready(function () {
       
        $("#tblItemMaster").change(function () {
            $("#tblEmpoyees tbody tr").remove();
            //$("prjtid1").val();
            //$("itemgroupname1").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_MultipleQty_Search")', // Calling json method

                dataType: 'json',

                data: {PrjId: $("#Projects option:selected").val(), IG: $("#itemgroupname1 option:selected").val(), itemid: $("#tblItemMaster").val() },
                // Get Selected Country ID.

                success: function (data) {
                    var items = '';
                   



                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                        + "<td class='empTableTD'>" + item.ItemName + "</td>"
                        + "<td class='empTableTD'>" + item.UnitName + "</td>"
                        + "<td class='empTableTD'>" + item.Opening + "</td>"
                        + "<td class='empTableTD'>" + item.IssueQuantity + "</td>"
                        + "<td class='empTableTD'>" + item.ReceiveQty + "</td>"
                        + "<td class='empTableTD'>" + item.BalanceQuantity + "</td>"
                        + "<td class='empTableTD'>" + item.CreatedDate + "</td>"
                        + "</tr>";
                        $('#tblEmpoyees tbody').append(rows);
                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                }
            });
            return false;
        })
    });
</script>*@

<script>
    @*function GetFloor() {

        var url = '@Url.Action("Details", "Multiple_Quantity_wise_Search")';
        $('#progress').show();
        $.ajax({
            url: url,
            type: 'GET',
            data: {PrjId: $("#Projects option:selected").val(), IG: $("#itemgroupname1").val() },
            complete: function () {
                $('#progress').hide();
            },
            success: function (result) {

                $('#formbody').html(result);
            }
        });
        return false;
    }*@
    function getblock()
    {

        if ($("#Projects option:selected").val() != 0) {
            //var url = ReportGrid;

            $('#dvLoading').show();
            $.ajax({

                url: '@Url.Action("MonthlyItemReportGrid", "tblItemMasters")',
                type: 'GET',
                data: { PrjId: $("#Projects option:selected").val(), IG: $("#itemgroupname1").val()},
                complete: function () {
                    $('#dvLoading').hide();
                },

                success: function (result) {

                    $("#grid").empty();
                    item = $.parseJSON(result)
                    $.each(item, function (i, itname)
                    {
                       
                        $("#grid").prepend("<tr class='danger _tempRow'><td>" + itname.ItemName + "</td><td>" + itname.Unit + "</td><td>" + itname.Opening + "</td><td>" + itname. Purchase + "</td><td>" + itname.Issue + "</td><td>" + itname.Balance + "</td></tr>");
                    })
                }
            });
            return false;
        }
        else
        {
            alert("Select Project");
        }

    }
</script>





<section id="content_wrapper">
    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <div class="mw1000 center-block">
                <div class="admin-form theme-primary">
                    <!-- Begin: Content Header -->
                    <!-- Begin: Admin Form -->
                    <div class="form-headerStyle theme-primary">

                        <div class="panel heading-border">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color:#4a89dc">SEARCH ITEM GROUP & NAME WISE</span>
                                </div>
                                <!-- .section-divider -->
                                <!-- Basic Inputs -->
                                <!-- Input Icons -->
                                <form class="row" id="loginForm">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="section">
                                                        <label class="field select">
                                                            @Html.DropDownList("Projects", new SelectList(string.Empty, "Value", "Text"), "Select Project ", htmlAttributes: new { @id = "Projects", @class = "form-control" })
                                                            <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="section">
                                                        <label class="field select">
                                                            @Html.DropDownList("itemgroupname", null, "Select Item Group", htmlAttributes: new { @id = "itemgroupname1", @class = "form-control", @onchange = "javascript:getblock(this.value);", })
                                                            <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                               
                                                @*<div class="col-md-4">
                                                    <div class="section">
                                                        <label class="field select">
                                                            @Html.DropDownList("tblItemMaster", new SelectList(string.Empty, "Value", "Text"), "Select Item Name", new { @class = "form-control",  })
                                                           
                                                             <i class="arrow"></i>
                                                        </label>
                                                    </div>
                                                </div>*@
                                                

                                            </div>
                                         
                                        </div>
                                    }
                                                                    
                                </form>
                                @*<div id="formbody">

                                </div>*@



                                <table class="table" id="grid1">
                                    <thead>
                                        <tr>
                                           
                                            <th>Item</th>
                                            <th>Units</th>
                                           <th>Opening</th>                                            
                                            <th>Recieve</th>
                                            <th>Issue</th>
                                            <th>Balance </th>                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody id="grid"></tbody>
                                </table>
                                <table class="table" id="grid">
                                                 
                                    <tbody id="grid"></tbody>
                                </table>














                                @*<div id="showBalanceData">
                                    <table id="tblEmpoyees" class="tblEmpoyees" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th align="left" class="empTableTH">Item Name</th>
                                                <th align="left" class="empTableTH">Unit</th>
                                                <th align="left" class="empTableTH">Opening Qty.</th>
                                                <th align="left" class="empTableTH">Issue Qty.</th>
                                                <th align="left" class="empTableTH">Recieve Qty.</th>
                                                <th align="left" class="empTableTH">Balance Qty.</th>
                                                <th align="left" class="empTableTH">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>*@

                                <div class="section-divider mt40 mb25" id="spy5">
                                    <span></span>
                                </div>

                                <!-- end .section row section -->
                                <!-- end .form-footer section -->
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
        <!-- end: .tray-center -->
        <!-- begin: .tray-right -->
        <!-- end: .tray-right -->

    </section>
    <!-- End: Content -->
</section>